.checkboxGroup {
  position: relative;
  font-size: 16px;
}

.checkboxGroup-button {
  appearance: none;
  position: relative;
  border: 1px solid $color-black;
  padding: 12px 32px 12px 10px;
  height: 100%;
  font-family: var(--font-family-secondary);
  font-weight: bold;
  text-align: start;
  text-transform: uppercase;
  background: $color-white;
  color: $color-black;
  cursor: pointer;

  &::after {
    @include icon(271px, 215px, 16px, 16px);
    position: absolute;
    top: calc(50% - 8px);
    right: 10px;
    display: inline-block;
    content: "";
  }

  .rtl & {
    padding: 12px 10px 12px 32px;

    &::after {
      right: unset;
      left: 10px;
    }
  }
}

.checkboxGroup-button[disabled] {
  color: $color-grey-base;
}

.checkboxGroup-button.is-active::after {
  transform: rotate(180deg);
}

.checkboxGroup-label {
  white-space: nowrap;
  font-family: var(--font-family-secondary);
  font-weight: bold;
}

.checkboxGroup-list {
  position: absolute;
  z-index: 3;
  top: 100%;
  display: none;
  flex-direction: column;
  margin: 0;
  padding: 0;
  max-height: 300px;
  overflow-y: scroll;
  background: $color-white;
  border: 1px solid $color-grey-light;
}

.checkboxGroup-button.is-active + .checkboxGroup-list {
  display: flex;
}

.checkboxGroup-item {
  display: flex;
  align-items: center;

  &:not(:last-child) {
    border-bottom: 1px solid $color-grey-light;
  }

  &:hover,
  &:focus-within {
    background: $color-primary;
  }

  &:active {
    background: $color-primary-state;
  }

  &:has(label[data-value=""]),
  &:has(label[data-value="0"]),
  &:has(input[value=""]) {
    display: none;
  }

  &:has(input:checked) {
    background: $color-primary;
  }

  &:has(input:checked):hover,
  &:has(input:checked):focus-within {
    background: $color-primary-state;
  }

  &:has(input:checked):focus,
  &:has(input:checked):active {
    background: $color-primary;
  }
}

.checkboxGroup-item label,
.checkboxGroup-item input {
  cursor: pointer;
}

.checkboxGroup-item input {
  margin: 12px 8px;
}

.checkboxGroup-item label {
  display: block;
  padding: 12px 8px 12px 0;
  width: calc(100% - 40px); // 24px width + 16px margin
  text-align: start;
}

.checkboxGroup.is-form,
.checkboxGroup.is-control {
  display: flex;
  align-items: center;
  gap: 8px;
}

.checkboxGroup.is-control {
  align-items: stretch;
}

.checkboxGroup.is-form .checkboxGroup-list,
.checkboxGroup.is-nav .checkboxGroup-list,
.checkboxGroup.is-control .checkboxGroup-list {
  right: 0;
  min-width: 150px;
  overflow-y: auto;
}

.checkboxGroup.is-form input,
.checkboxGroup.is-nav input,
.checkboxGroup.is-control input {
  @extend %hidden-visually;
}

.checkboxGroup.is-form label,
.checkboxGroup.is-nav label,
.checkboxGroup.is-control label {
  margin: 0;
  padding: 12px 8px;
  width: 100%;
}
