.postbox label,
label.components-checkbox-control__label,
textarea.components-textarea-control__input,
textarea.editor-post-text-editor {
  text-transform: none;
  font-weight: normal;
}

.postbox label,
label.components-base-control__label,
label.components-checkbox-control__label,
label.components-toggle-control__label {
  text-transform: none;
  font-family: inherit;
  font-weight: normal;
}

input[type="radio"].components-radio-control__input:checked::after {
  content: '';
}

input[type="checkbox"].components-checkbox-control__input:checked::after {
  content: '';
}

.components-base-control.wp-block-post-title textarea.components-textarea-control__input {
  font-family: var(--wp--preset--font-family--secondary);
}

.components-text-control__input {
  text-transform: none;
  font-weight: normal;
}

.media-modal label,
.media-modal input,
.media-modal optgroup,
.media-modal select,
.media-modal textarea {
  font-family: inherit;
  text-transform: none;
}

.media-modal input,
.media-modal optgroup,
.media-modal select,
.media-modal textarea {
  font-weight: normal;
}
