.page-template-my-account .woocommerce-Address-title a {
  line-height: map-get($desktop-header-sizes, "h3");
}

.page-template-my-account .linkList li {
  transition: background-color .3s ease-in-out, color .3s ease-in-out;

  &:first-child {
    border-top: 1px solid var(--wp--preset--color--grey-lighter);
  }

  &.is-active,
  &:hover,
  &:active {
    background-color: var(--wp--preset--color--black);
    color: var(--wp--preset--color--white);

    a {
      color: var(--wp--preset--color--white);
    }
  }
}

.page-template-my-account .linkList li:focus-within {
  background-color: var(--wp--preset--color--black);
  color: var(--wp--preset--color--white);

  a {
    color: var(--wp--preset--color--white);
  }
}

.page-template-my-account .linkList a {
  display: block;
  padding: 10px 15px;
}

.page-template-my-account .linkList li + li {
  margin: 0;
  border-bottom: 1px solid var(--wp--preset--color--grey-lighter);
}
