.wp-block-amnesty-core-block-download {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: stretch;
  gap: var(--wp--preset--spacing--half);

  @media all and (min-width: 540px) {
    flex-direction: row;
  }
}

.wp-block-amnesty-core-block-download .checkboxGroup {
  min-width: 200px;
}

.wp-block-amnesty-core-block-download .checkboxGroup-button,
.wp-block-amnesty-core-block-download .checkboxGroup-list {
  width: 100%;
}

.wp-block-amnesty-core-block-download.alignleft {
  float: none !important;

  @media all and (min-width: 540px) {
    justify-content: flex-start;
  }
}

.wp-block-amnesty-core-block-download.aligncenter {
  float: none !important;

  @media all and (min-width: 540px) {
    justify-content: center;
    display: flex;
  }
}

.wp-block-amnesty-core-block-download.alignright {
  float: none !important;

  @media all and (min-width: 540px) {
    justify-content: flex-end;
  }
}

.btn--download {
  display: inline-flex;
  align-items: baseline;
  margin-top: 24px;

  .article-content & {
    margin-top: 24px;
  }
}

.wp-block-amnesty-core-block-download .btn--download {
  display: inline-flex;

  [dir="rtl"] & {
    flex-direction: row-reverse;
  }

  [dir="ltr"] & {
    flex-direction: row;
  }

  @media all and (min-width: 540px) {
    margin-top: 0;
  }
}

.btn--download::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 20px;
  background-image: url("./icon-download-arrow-dark.svg");
  background-size: contain;
  transform: translateY(2px);

  .rtl & {
    margin-right: 0;
    margin-left: 20px;
  }
}

.wp-block-amnesty-core-block-download.is-style-light .btn--download {
  background-color: var(--wp--preset--color--white);
  border: 1px solid var(--wp--preset--color--black);
}

.wp-block-amnesty-core-block-download.is-style-light .btn--download:hover,
.wp-block-amnesty-core-block-download.is-style-light .btn--download:active,
.wp-block-amnesty-core-block-download.is-style-light .btn--download:focus {
  background-color: var(--wp--preset--color--black);
  color: var(--wp--preset--color--white);
}

.wp-block-amnesty-core-block-download.is-style-light .btn--download:hover::before,
.wp-block-amnesty-core-block-download.is-style-light .btn--download:active::before,
.wp-block-amnesty-core-block-download.is-style-light .btn--download:focus::before {
  background-image: url("./icon-download-arrow.svg");
}

.wp-block-amnesty-core-block-download.is-style-dark .btn--download {
  background-color: var(--wp--preset--color--black);
  color: var(--wp--preset--color--white);
  border: 1px solid var(--wp--preset--color--black);
}

.wp-block-amnesty-core-block-download.is-style-dark .btn--download:hover,
.wp-block-amnesty-core-block-download.is-style-dark .btn--download:active,
.wp-block-amnesty-core-block-download.is-style-dark .btn--download:focus {
  background-color: var(--wp--preset--color--white);
  color: var(--wp--preset--color--black);
}

.wp-block-amnesty-core-block-download.is-style-dark .btn--download:hover::before,
.wp-block-amnesty-core-block-download.is-style-dark .btn--download:active::before,
.wp-block-amnesty-core-block-download.is-style-dark .btn--download:focus::before {
  background-image: url("./icon-download-arrow-dark.svg");
}

.wp-block-amnesty-core-block-download.is-style-dark .btn--download::before {
  background-image: url("./icon-download-arrow.svg");
}
