.post-type-archive-product .post {
  text-align: left;
}

.post-type-archive-product .post-title,
.post-type-archive-product .price {
  font-size: var(--wp--preset--font-size--regular);
}

.post-type-archive-product .post-content {
  padding-right: 0;
  padding-left: 0;
}
