.iframeButton-wrapper {
  display: flex !important;
  flex-wrap: wrap;
}

.iframeButton-wrapper.alignleft {
  justify-content: flex-start;
  float: unset !important;
  margin-left: 0 !important;
  margin-right: auto !important;
}

.iframeButton-wrapper.aligncenter {
  justify-content: center;
  float: unset !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.iframeButton-wrapper.alignright {
  justify-content: flex-end;
  float: unset !important;
  margin-left: auto !important;
  margin-right: 0 !important;
}

.iframeButton-wrapper iframe {
  display: none;
  margin-top: 24px;
  width: 100%;
}

.iframeButton-wrapper.is-visible iframe {
  display: block;
}

.callToAction .iframeButton-wrapper {
  width: 100%;
}
