.log
.map
.vscode
.DS_Store
.phpdoc
/vendor

.htaccess
web.config
/db-config.php
/index.php
/private/.yarn
/private/node_modules
/readme.html
/wp-activate.php
/wp-admin
/wp-atom.php
/wp-blog-header.php
/wp-comments-post.php
/wp-commentsrss2.php
/wp-config*
/wp-content/advanced-cache.php
/wp-content/backup-db/*
/wp-content/blogs.dir/*
/wp-content/cache/*
/wp-content/debug.log
/wp-content/index.php
/wp-content/languages/*
/wp-content/mu-plugins/*
/wp-content/plugins/*
/wp-content/themes/humanity-theme/assets/fonts/*
/wp-content/themes/humanity-theme/assets/images/*
/wp-content/themes/humanity-theme/assets/scripts/*
/wp-content/themes/humanity-theme/assets/styles/*
/wp-content/themes/humanity-theme/build/*
/wp-content/themes/index.php
/wp-content/themes/twenty*
/wp-content/upgrade/*
/wp-content/uploads/*
/wp-content/wp-cache-config.php
/wp-cron.php
/wp-feed.php
/wp-includes
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-pass.php
/wp-rdf.php
/wp-register.php
/wp-rss.php
/wp-rss2.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php
/wp-content/languages/*
