// Global variables first
@import "utils/variables/defaults";

// Grid settings
@import "utils/variables/grid-settings";

// Sass Mq
// @see https://github.com/sass-mq/sass-mq
@import "sass-mq";

// Flickity slider, from npm
@import "~flickity/dist/flickity.css";

// Media query breakpoints
@import "utils/variables/breakpoints";

// Functions
@import "utils/functions/maths";
@import "utils/functions/palette";
@import "utils/functions/strip-units";
@import "utils/functions/flexy";

// Mixins
@import "utils/mixins/clearfix";
@import "utils/mixins/headings";
@import "utils/mixins/cols";
@import "utils/mixins/icon";
@import "utils/mixins/placeholder";
@import "utils/mixins/states";

// Base
@import "base/reset";
@import "base/shared";
@import "base/base";
@import "base/type";
@import "base/links";
@import "base/blockquotes";
@import "base/images";
@import "base/container";
@import "base/overlay";

// Layout
@import "layout/language-banner";
@import "layout/header/main";
@import "layout/navigation/main";
@import "layout/page-hero";
@import "layout/footer/main";

// Components
@import "components/list/all";
@import "components/media/all";
@import "components/social";
@import "components/form/all";
@import "components/grid/all";
@import "components/icon";
@import "components/modal/base";
@import "components/fluid";
@import "components/pop-in/main";
@import "components/news-filters/main";
@import "components/tabbed-nav/main";

// Blocks
@import "blocks/action-block/main";
@import "blocks/button/all";
@import "blocks/call-to-action/all";
@import "blocks/collapsable/main";
@import "blocks/core-blocks/blockquote";
@import "blocks/core-blocks/columns";
@import "blocks/core-blocks/details";
@import "blocks/core-blocks/embed";
@import "blocks/core-blocks/file";
@import "blocks/core-blocks/gallery";
@import "blocks/core-blocks/group";
@import "blocks/core-blocks/image";
@import "blocks/core-blocks/latest-posts";
@import "blocks/core-blocks/menu";
@import "blocks/core-blocks/rss";
@import "blocks/core-blocks/separator";
@import "blocks/core-blocks/social-links";
@import "blocks/core-blocks/table";
@import "blocks/core-blocks/video";
@import "blocks/core-blocks/cover";
@import "blocks/countdown-timer/main";
@import "blocks/custom-card/main";
@import "blocks/download-block/style";
@import "blocks/fact-block/main";
@import "blocks/header/main";
@import "blocks/hero/main";
@import "blocks/iframe-button/main";
@import "blocks/image-block/main";
@import "blocks/link-group/main";
@import "blocks/linklist/main";
@import "blocks/links-with-icons/main";
@import "blocks/list-block/main";
@import "blocks/petition-list/main";
@import "blocks/postlist/main";
@import "blocks/regions/main";
@import "blocks/section/main";
@import "blocks/slider/main";
@import "blocks/stat-counter/main";
@import "blocks/sutori-embed/main";
@import "blocks/tabbed-content/main";
@import "blocks/term-list/main";
@import "blocks/tweet-action/tweet";

// Block patterns
@import "block-patterns/group";

// Pages
@import "pages/404";
@import "pages/search";
@import "pages/news";
@import "pages/archive";
@import "pages/petitions";
@import "pages/single";
@import "pages/author";
@import "pages/article";

// WooCommerce
@import "woocommerce/base";
@import "woocommerce/shop-index";
@import "woocommerce/product-archive";
@import "woocommerce/product-single";
@import "woocommerce/cart";
@import "woocommerce/checkout";
@import "woocommerce/my-account";
@import "woocommerce/orders";

// Helpers
@import "utils/helpers/spacing";
@import "utils/helpers/type";
@import "utils/helpers/display";
@import "utils/helpers/layout";
@import "utils/helpers/grid-classes";

:root {
  --ms-base: 16;
  --ms-ratio: 1.2;
}

.skipLink {
  @extend .btn; /* stylelint-disable-line scss/at-extend-no-missing-placeholder */
  @extend .u-hiddenVisually; /* stylelint-disable-line scss/at-extend-no-missing-placeholder */

  &:active,
  &:focus {
    // 2^31 (1 higher than CC8, which uses 2^31 - 1)
    z-index: 2147483648;
    top: 3px;
    left: 3px;
    display: block;
    padding: 10px 20px !important;
    width: auto !important;
    height: 50px !important;
    clip: initial !important;
    line-height: 30px;
  }
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%); // stylelint-disable property-no-vendor-prefix
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}
