// Global variables first
@import "utils/variables/defaults";

// Grid settings
@import "utils/variables/grid-settings";

// Sass Mq
// @see https://github.com/sass-mq/sass-mq
@import "sass-mq";
@import "utils/variables/breakpoints";

// Functions
@import "utils/functions/maths";
@import "utils/functions/palette";
@import "utils/functions/strip-units";
@import "utils/functions/flexy";

// Mixins
@import "utils/mixins/clearfix";
@import "utils/mixins/headings";
@import "utils/mixins/cols";
@import "utils/mixins/icon";
@import "utils/mixins/placeholder";
@import "utils/mixins/states";

// Helpers
@import "utils/helpers/display";

// Base
@import "base/type";

// Layout
@import "layout/page-hero";

// Components
@import "components/grid/all";
@import "components/add-item";
@import "components/fluid";
@import "components/icon";
@import "components/news-filters/main";
@import "components/form/input-editor";

// Blocks
@import "blocks/action-block/main";
@import "blocks/button/all";
@import "blocks/call-to-action/all";
@import "blocks/collapsable/main";
@import "blocks/core-blocks/blockquote";
@import "blocks/core-blocks/details";
@import "blocks/core-blocks/embed-editor";
@import "blocks/core-blocks/latest-posts";
@import "blocks/core-blocks/menu";
@import "blocks/core-blocks/post-template/main";
@import "blocks/core-blocks/post-title/main";
@import "blocks/core-blocks/post/main";
@import "blocks/core-blocks/post/editor";
@import "blocks/core-blocks/query-pagination/main";
@import "blocks/core-blocks/query-pagination/editor";
@import "blocks/core-blocks/rss";
@import "blocks/core-blocks/social-links";
@import "blocks/core-blocks/quote";
@import "blocks/custom-card/main";
@import "blocks/download-block/style";
@import "blocks/fact-block/main";
@import "blocks/image-block/main";
@import "blocks/link-group/main";
@import "blocks/linklist/main";
@import "blocks/links-with-icons/main";
@import "blocks/petition-list/main";
@import "blocks/postlist/main";
@import "blocks/regions/main";
@import "blocks/section/main";
@import "blocks/slider/main";
@import "blocks/stat-counter/main";
@import "blocks/term-list/main";
@import "blocks/tweet-action/tweet";

// FSE Blocks
@import "components/pop-in/main";
@import "components/pop-in/editor";
@import "layout/language-banner";
@import "layout/header/main";
@import "layout/header/editor";
@import "layout/navigation/main";

// Page level
@import "pages/archive";
@import "pages/article";
@import "pages/article/editor";
@import "pages/search";
@import "pages/single";

html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}
