.countdownClock {
  font-size: 5.2em;
  color: $color-black;
  font-family: var(--wp-preset--font-family--secondary);
  text-transform: uppercase;
}

.section--textWhite .countdownClock {
  color: $color-white;
}
