.post-type-archive-petition .actionBlock-content div {
  margin-bottom: 16px;
  font-weight: normal;
}

.categoryTerm-title {
  display: flex;
  align-content: center;
  padding: 30px 0 10px 0;
  align-items: center;
  width: 100%;
  flex-direction: column;
  text-align: center;

  h1 {
    text-transform: uppercase;
  }
}

.taxonomyArchive-filters {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--wp--preset--spacing--single);
  width: 100%;
  padding: 0 !important;

  @include mq(medium) {
    flex-direction: row;
  }
}

.taxonomyArchive-filters + * {
  margin-top: var(--wp--preset--spacing--single);

  @include mq(medium) {
    margin-top: 0;
    margin-left: var(--wp--preset--spacing--single);

    .rtl & {
      margin-left: 0;
      margin-right: var(--wp--preset--spacing--single);
    }
  }
}

.taxonomyArchive-filters .checkboxGroup,
.taxonomyArchive-filters .customSelect {
  flex: 1 1 auto;
  width: 100%;
}

.taxonomyArchive-filters .checkboxGroup-button,
.taxonomyArchive-filters .checkboxGroup-list,
.taxonomyArchive-filters .customSelect-buttonWrapper,
.taxonomyArchive-filters .customSelect-button,
.taxonomyArchive-filters .customSelect-list {
  width: 100%;
}
