.article-container {
  margin-bottom: spacing();
}

.article-content {
  margin: spacing() 0;
}

.article-footer .article-meta {
  margin-bottom: spacing();
}

.article-footer .article-metaActions {
  margin-top: spacing(half);
  margin-bottom: 0;
}

.topics-container ul {
  display: flex;
  flex-wrap: wrap;
  gap: spacing(half);
  margin: 0;
  list-style: none;
}

.topics-container li a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  background-color: var(--wp--preset--color--grey-lighterest);
  padding: 10px;
  transition: background-color .25s;
  font-family: var(--wp--preset--font-family--secondary);
  font-size: 14px;
}

.topics-container li a:hover,
.topics-container li a:focus,
.topics-container li a:active {
  background-color: var(--wp--preset--color--grey-lighter);
}
