<!-- wp:amnesty-core/block-section {"className":"social-sharePattern"} -->
<section class="wp-block-amnesty-core-block-section section social-sharePattern"><div class="container"><!-- wp:heading {"textAlign":"center"} -->
<h2 class="has-text-align-center" id="h-pressed-for-time">Pressed for Time?</h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center">Stand up for human rights with these quick and easy actions</p>
<!-- /wp:paragraph -->

<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:amnesty-core/tweet-block {"title":"Tweet for us","content":"Until every person can enjoy human rights, we will not stop. I support @amnesty; will you?","className":"is-style-alternative-style"} /--></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:heading {"textAlign":"center","level":3} -->
<h3 class="has-text-align-center" id="h-follow-us">Follow Us</h3>
<!-- /wp:heading -->

<!-- wp:heading {"textAlign":"center","level":4} -->
<h4 class="has-text-align-center" id="h-latest-human-rights-news-stories-and-actions">Latest human rights news, stories, and actions</h4>
<!-- /wp:heading -->

<!-- wp:social-links {"align":"center","className":"is-style-light"} -->
<ul class="wp-block-social-links aligncenter is-style-light"><!-- wp:social-link {"url":"https://www.facebook.com/amnesty","service":"facebook"} /-->

<!-- wp:social-link {"url":"https://twitter.com/amnesty","service":"twitter"} /-->

<!-- wp:social-link {"url":"https://instagram.com/amnesty","service":"instagram"} /-->

<!-- wp:social-link {"url":"https://www.youtube.com/user/AmnestyInternational","service":"youtube"} /--></ul>
<!-- /wp:social-links -->

<!-- wp:heading {"textAlign":"center","level":3} -->
<h3 class="has-text-align-center" id="h-join-the-conversation">Join the conversation</h3>
<!-- /wp:heading -->

<!-- wp:heading {"textAlign":"center","level":4} -->
<h4 class="has-text-align-center" id="h-amnesty">@amnesty</h4>
<!-- /wp:heading -->

<!-- wp:buttons {"contentJustification":"center"} -->
<div class="wp-block-buttons is-content-justification-center"><!-- wp:button -->
<div class="wp-block-button"><a class="wp-block-button__link" href="https://twitter.com/amnesty" target="_blank" rel="noreferrer noopener">Go to Twitter</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:heading {"textAlign":"center","level":3} -->
<h3 class="has-text-align-center" id="h-share-our-story">Share our story</h3>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center">This is why we do what we do</p>
<!-- /wp:paragraph -->

<!-- wp:embed {"url":"https://www.youtube.com/watch?v=wfKSFY6nqKQ","type":"video","providerNameSlug":"youtube","responsive":true,"align":"center","className":"wp-embed-aspect-16-9 wp-has-aspect-ratio"} -->
<figure class="wp-block-embed aligncenter is-type-video is-provider-youtube wp-block-embed-youtube wp-embed-aspect-16-9 wp-has-aspect-ratio"><div class="wp-block-embed__wrapper">
https://www.youtube.com/watch?v=wfKSFY6nqKQ
</div></figure>
<!-- /wp:embed -->

<!-- wp:buttons {"contentJustification":"center"} -->
<div class="wp-block-buttons is-content-justification-center"><!-- wp:button {"className":"is-style-dark"} -->
<div class="wp-block-button is-style-dark"><a class="wp-block-button__link" href="https://www.facebook.com/sharer/sharer.php?u=https:%2f%2fyoutu.be%2fdkl44sAEC6c" target="_blank" rel="noreferrer noopener">Share Video</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div></section>
<!-- /wp:amnesty-core/block-section -->
