.clockdiv {
  justify-content: center;
}

.countdownClock {
  font-size: 5.2em;
  color: var(--wp--preset--color--black);
  font-family: var(--wp--preset--font-family--secondary);
  text-transform: uppercase;
}

.countdownContainer {
  border: 1px solid var(--wp--preset--color--black);
  padding: 20px;
}

.expiredTextBox {
  font-weight: bold;
}

.section--textWhite .countdownClock {
  color: var(--wp--preset--color--white);
}

.wp-block-amnesty-core-countdown-timer.datetime-picker .components-base-control:where(:not(:last-child)),
.wp-block-amnesty-core-countdown-timer.datetime-picker .components-radio-control:where(:not(:last-child)) {
  margin-bottom: 0;
}
