@media print {
  .container--feature,
  .article-metaActions,
  .article-meta .btn,
  .article-share,
  .article-footer,
  .article-sidebar {
    display: none !important;
  }

  .content-links {
    padding: var(--wp--preset--spacing--single);
    background-color: var(--wp--preset--color--grey-lightest);
  }
}
