@use "../../utils/mixins/icon";

.slide {
  display: flex;
  width: 100%;
  min-height: 500px;
  background-color: var(--wp--preset--color--grey-base);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  @media all and (min-width: 760px) {
    min-height: 670px;
    padding: 40px 65px;
  }

  .rtl & {
    justify-content: flex-end;
  }
}

.slide.is-center-aligned {
  @media all and (min-width: 760px) {
    justify-content: center;
    text-align: center;

    .slide-contentContainer {
      margin-right: auto;
      margin-left: auto;
    }

    h1.slide-title,
    h2.slide-subtitle,
    .slide-content {
      text-align: center;
    }

    .slide-callToAction {
      justify-content: center;
    }
  }
}

.slide.is-right-aligned {
  @media all and (min-width: 760px) {
    justify-content: flex-end;

    .rtl & {
      justify-content: flex-start;
    }

    .slide-contentContainer {
      margin-left: auto;

      .rtl & {
        margin-right: auto;
        margin-left: 0;
      }
    }

    .slide-callToAction {
      justify-content: flex-end;

      .rtl & {
        justify-content: flex-start;
      }
    }
  }
}

.slides-container {
  position: relative;
}

.slide-contentContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  min-width: 100%;
  background-color: var(--wp--preset--color--black);
  color: var(--wp--preset--color--white);
  padding: 16px;

  @media all and (min-width: 760px) {
    max-width: 500px;
    min-width: 250px;
  }

  & > * {
    margin-bottom: 0;
  }

  & > * + * {
    margin-top: 12px;
  }

  h1, h2 {
    font-family: var(--wp--preset--font-family--secondary);
  }

  p, .slide-content {
    font-family: var(--wp--preset--font-family--primary);
  }

  h1, h2, p, span, .slide-content {
    color: var(--wp--preset--color--white);
  }
}

.slide.has-opaque-background .slide-contentContainer {
  background: linear-gradient(to bottom, color-mix(in srgb, var(--wp--preset--color--black) 50%, transparent) 90%, transparent 100%);
}

.slide.has-transparent-background .slide-contentContainer {
  background: transparent;
}

.slide-callToAction {
  display: flex;
  align-items: center;
}

.slide-contentWrapper {
  width: 100%;
  max-height: 500px;

  @media all and (min-width: 760px) {
    max-height: 670px;
  }
}

.slide-contentWrapper.is-open {
  background-color: color-mix(in srgb, var(--wp--preset--color--black) 40%, transparent);
  overflow-y: scroll;

  @media all and (min-width: 760px) {
    background-color: transparent;
  }

  &::before {
    content: attr(data-tooltip);
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    padding-bottom: 20px;
    color: var(--wp--preset--color--white);
    text-align: center;

    @media all and (min-width: 760px) {
      display: none;
    }
  }
}

.slide-contentWrapper.is-open .slide-contentContainer {
  z-index: 2;
  background: var(--wp--preset--color--black);
}

.slide-contentWrapper.is-open .slide-content {
  height: auto;
}

.slide-contentWrapper.is-open .slider-toggleContent::before {
  transform: translate(-50%, -50%) rotate(180deg);
}

.slide-content {
  position: relative;
  height: 45px;
  overflow: hidden;
  padding-right: 50px;

  .rtl & {
    padding-right: 0;
    padding-left: 50px;
  }

  @media all and (min-width: 760px) {
    height: auto;
    padding-right: 0;

    .rtl & {
      padding-left: 0;
    }
  }
}

h1.slide-title {
  font-size: var(--wp--preset--font-size--heading-2);
  text-transform: uppercase;
  color: var(--wp--preset--color--white) !important;

  .rtl & {
    text-align: right;
  }
}

h2.slide-subtitle {
  font-size: var(--wp--preset--font-size--heading-3);
  color: var(--wp--preset--color--white) !important;

  .rtl & {
    text-align: right;
  }
}

.slide-content .btn {
  margin-top: 6px;

  @media all and (min-width: 760px) {
    margin-top: 24px;
  }
}

.slide-content p {
  font-size: var(--wp--preset--font-size--regular);

  &:last-child {
    margin-bottom: 0;
  }
}

.slide-timelineContent {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgba(255, 255, 255, .7);
  color: var(--wp--preset--color--black);
  padding: 20px;
  text-align: center;
}

.is-style-dark .slide-timelineContent {
  background: rgba(0, 0, 0, .3);
  color: var(--wp--preset--color--white);
}

.is-style-light .slide-timelineContent {
  background: rgba(255, 255, 255, .7);
  color: var(--wp--preset--color--black);
}

.slide-timelineContent .slide-timelineContent-inner {
  max-width: 1000px;
  margin: 0 auto;
}
