.container {
  display: block;
  width: 100%;
  max-width: $flexy-container;
  margin: 0 auto;
  padding: 0 flexy-gutter();

  @include mq(1490px) {
    padding: 0 $flexy-outer-gutter;
  }
}

.container .container {
  padding: 0;
}

.container--small {
  max-width: 1113px;
}
