@font-face {
  font-family: Lato;
  font-display: swap;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Lato-Light.woff2") format("woff2"),
    url("../fonts/Lato-Light.woff") format("woff"),
    url("../fonts/Lato-Light.ttf") format("truetype");
}

@font-face {
  font-family: Lato;
  font-display: swap;
  font-style: oblique;
  font-weight: 300;
  src: url("../fonts/Lato-LightItalic.woff2") format("woff2"),
    url("../fonts/Lato-LightItalic.woff") format("woff"),
    url("../fonts/Lato-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: Lato;
  font-display: swap;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Lato-Regular.woff2") format("woff2"),
    url("../fonts/Lato-Regular.woff") format("woff"),
    url("../fonts/Lato-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Lato;
  font-display: swap;
  font-style: oblique;
  font-weight: normal;
  src: url("../fonts/Lato-Italic.woff2") format("woff2"),
    url("../fonts/Lato-Italic.woff") format("woff"),
    url("../fonts/Lato-Italic.ttf") format("truetype");
}

@font-face {
  font-family: PlayfairDisplay;
  font-display: swap;
  font-style: oblique;
  font-weight: normal;
  src: url("../fonts/PlayfairDisplay-Italic.woff2") format("woff2"),
    url("../fonts/PlayfairDisplay-Italic.woff") format("woff"),
    url("../fonts/PlayfairDisplay-Italic.ttf") format("truetype");
}

@font-face {
  font-family: PlayfairDisplay;
  font-display: swap;
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/PlayfairDisplay-Bold.woff2") format("woff2"),
    url("../fonts/PlayfairDisplay-Bold.woff") format("woff"),
    url("../fonts/PlayfairDisplay-Bold.ttf") format("truetype");
}
