.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: none;
  background-color: color-mix(in srgb, var(--wp--preset--color--black) 25%, transparent);
}

.admin-bar .overlay {
  top: 118px;

  @include mq(wp-adminbar) {
    top: 104px;
  }
}

html[class*="-open"] .overlay,
html.search-active .overlay {
  display: block;
}
