/**
 * Headings.
 */

p {
  overflow-wrap: break-word;
}

p.has-drop-cap:not(:focus)::first-letter {
  margin-bottom: 30px;
}

p.has-small-font-size {
  font-size: .9rem;
}

.has-normal-font-size,
p.has-regular-font-size {
  font-size: var(--wp--preset--font-size--regular);
}

p.has-large-font-size {
  font-size: 1.5rem;
}

p.has-larger-font-size {
  font-size: 2rem;
}

.has-x-large-font-size {
  font-size: 2.25em;
}

.has-huge-font-size {
  font-size: 2.5rem;
}

small {
  font-size: var(--wp--preset--font-size--small);
}
