/**
 * Headings.
 */

@include headings(1,  6) {
  color: $heading-color;
  line-height: 1.12;
  font-family: var(--wp--preset--font-family--secondary);
}

@for $i from 1 through 6 {
  h#{$i} {
    font-size: map-get($mobile-header-sizes, h#{$i});

    @include mq(small) {
      font-size: map-get($desktop-header-sizes, h#{$i});
    }
  }
}

p {
  overflow-wrap: break-word;
  max-width: 860px;
}

p.has-text-align-center {
  margin-right: auto;
  margin-left: auto;
}

p.has-text-align-right {
  margin-left: auto;
}

.rtl p.has-text-align-right {
  margin-right: auto;
  margin-left: 0;
}

p.has-drop-cap:not(:focus)::first-letter {
  margin-bottom: 30px;
}

p.has-small-font-size {
  font-size: .9rem;
}

.has-normal-font-size,
p.has-regular-font-size {
  font-size: $base-font-size;
}

p.has-large-font-size {
  font-size: 1.5rem;
}

p.has-larger-font-size {
  font-size: 2rem;
}

.has-x-large-font-size {
  font-size: 2.25em;
}

.has-huge-font-size {
  font-size: 2.5rem;
}

small {
  font-size: $milli-size;
}
