@keyframes indicator {
  0% {
    background-color: transparent;
  }

  30% {
    background-color: var(--wp--preset--color--grey-lighter);
  }

  100% {
    background-color: transparent;
  }
}

.amnesty-action-button.is-pressed {
	background: #fff !important;

	svg {
		background: #f8d72b !important;
	}

	path {
		fill: #000;
	}
}

.amnesty-data-handling-spacer {
  height: var(--wp--preset--spacing--single);
}

.amnesty-data-handling-modal .components-modal__header + div {
  display: grid;
  height: 100%;
  grid-template-columns: 0.5fr 2fr;
  grid-template-rows: 1fr 40px;
}

.amnesty-data-handling-modal-navigation {
  position: sticky;
}

.amnesty-data-handling-modal-navigation ul {
  margin: 0;
  max-width: 200px;
}

.amnesty-data-handling-modal-navigation .components-button {
  width: 100%;
  padding: 8px;
  text-decoration: none;
}

.amnesty-data-handling-modal-content {
  overflow-y: scroll;
  padding-inline: var(--wp--preset--spacing--single);
}

.amnesty-data-handling-modal-group {
  min-height: 300px;
}

.amnesty-data-handling-modal-group-title {
  margin-block: var(--wp--preset--spacing--single);
  padding-block: var(--wp--preset--spacing--single);
  border-block: 1px solid var(--wp--preset--color--grey-light);
}

.amnesty-data-handling-modal-group:first-of-type .amnesty-data-handling-modal-group-title {
  margin-block-start: 0;
  padding-block-start: 0;
  border-block-start: none;
}

.amnesty-data-handling-modal-group.is-active-group .amnesty-data-handling-modal-group-title {
  animation: indicator 0.6s ease-out;
}

.amnesty-data-handling-modal-actions {
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: end;
}
