.element-select .select2-container .select2-selection--single {
  border-radius: 0;
  border: 1px solid var(--wp--preset--color--black);
  padding: 12px;
  height: auto !important;
  font-family: var(--wp--preset--font-family--secondary);
  font-size: var(--wp--preset--font-size--small);
  font-weight: normal;
  line-height: normal;
  text-transform: uppercase;
  color: var(--wp--preset--color--grey-base);
  opacity: 1;
}

.element-select .select2-container--default .select2-selection--single .select2-selection__rendered {
  padding: 0;
  font-weight: bold;
  line-height: normal;
  color: var(--wp--preset--color--black);
}

.element-select .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 40px;
}

.element-select .select2-container--default .select2-results__option--highlighted[aria-selected],
.element-select .select2-container--default .select2-results__option--highlighted[data-selected] {
  background-color: var(--wp--preset--color--primary);
  color: var(--wp--preset--color--black);
}

.element-select .select2-results__option {
  font-family: var(--wp--preset--font-family--secondary);
  font-size: var(--wp--preset--font-size--x-small);
  font-weight: normal;
  text-transform: uppercase;
  color: var(--wp--preset--color--grey-base);
}
