.customCard textarea.customCard-label {
  background-color: var(--wp--preset--color--grey-lighter);
  color: var(--wp--preset--color--black)-mid-dark;
}

.customCard-content textarea {
  text-align: center;
  background-color: var(--wp--preset--color--grey-lighter);
  color: var(--wp--preset--color--black)-mid-dark;
}

.customCard-content .btn {
  color: var(--wp--preset--color--black)-mid-dark;
  background-color: var(--wp--preset--color--primary);
}

.is-style-style-2 textarea.customCard-label,
.is-style-style-2 .customCard-content textarea {
  background-color: var(--wp--preset--color--black)-x-dark;
  color: var(--wp--preset--color--white);
}

.is-style-style-2 .customCard-content .btn {
  color: var(--wp--preset--color--black)-mid-dark;
  background-color: var(--wp--preset--color--primary);
}

.is-style-style-3 textarea.customCard-label,
.is-style-style-3 .customCard-content textarea {
  background-color: var(--wp--preset--color--primary);
  color: var(--wp--preset--color--black)-mid-dark;
}

.is-style-style-3 .customCard-content .btn {
  color: var(--wp--preset--color--white);
  background-color: var(--wp--preset--color--black)-x-dark;
}
