.burger {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 100%;
  border: 2px solid transparent;
  font-family: var(--wp-preset--font-family--secondary);
  background-color: transparent;
  cursor: pointer;

  @include mq(small) {
    width: 70px;
  }

  @include mq(mobile-nav) {
    display: none;
  }
}

.burger:active,
.burger:focus {
  border: 2px solid $color-orange-base;
}

.burger .icon-burger {
  display: block;
}

.burger .icon-close {
  display: none;
}

.mobile-menu-open .burger .icon-close {
  display: block;
}

.mobile-menu-open .burger .icon-burger {
  display: none;
}
