.logo {
  display: flex;
  align-items: center;
  height: 60px;

  @include mq(small) {
    height: 72px;
  }
}

.logo:empty::after {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 100%;
  background-color: $color-primary;
  border-right: 1px solid $color-grey-light;
  content: attr(aria-label);
}

.rtl .logo:empty::after {
  border-right: none;
  border-left: 1px solid $color-grey-light;
}

.logo-logoType,
.logo-logoMark {
  max-height: 100% !important;
}

.logo-logoType {
  display: none;

  @include mq(small) {
    display: block;
  }
}

.logo-logoMark {
  display: block;

  @include mq(small) {
    display: none;
  }
}
