.wp-block-file a.wp-block-file__button,
.wp-block-button .wp-block-button__link,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.btn {
  appearance: none;
  box-sizing: border-box;
  overflow: visible;
  user-select: none;
  white-space: normal;
  margin: 0;
  padding: 12px 24px;
  display: inline-block;
  border: 1px solid var(--wp--preset--color--primary-state);
  border-radius: 0;
  color: var(--wp--preset--color--black);
  background-color: var(--wp--preset--color--primary);
  font-family: var(--wp--preset--font-family--secondary);
  font-weight: bold;
  font-size: var(--wp--preset--font-size--small);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  line-height: normal;
  cursor: pointer;
  transition: background-color .3s ease-in-out, border-color .3s ease-in-out, color .3s ease-in-out;

  &:hover,
  &:active,
  &:focus {
    border-color: var(--wp--preset--color--primary-state);
    background-color: var(--wp--preset--color--primary-state);
    color: var(--wp--preset--color--white);
    text-decoration: none;
  }

  &.disabled,
  &[disabled] {
    cursor: not-allowed;
  }
}

.woocommerce a.button,
.btn--white,
.btn.is-style-light {
  border: 1px solid var(--wp--preset--color--black);
  background-color: var(--wp--preset--color--white);
  color: var(--wp--preset--color--black);

  &:hover,
  &:focus {
    background-color: var(--wp--preset--color--grey-light);
    border-color: var(--wp--preset--color--grey-light);
    color: var(--wp--preset--color--black)
  }
}
