.wp-block-file a.wp-block-file__button,
.wp-block-button .wp-block-button__link,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.btn {
  @extend %btn-base;
  padding: 12px 24px;
  color: var(--wp--preset--color--black);
  background-color: var(--wp--preset--color--primary);
  border: 1px solid var(--wp--preset--color--primary-state);
  border-radius: $base-border-radius;
  font-family: var(--wp--preset--font-family--secondary);
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;

  &:hover,
  &:active,
  &:focus {
    border-color: var(--wp--preset--color--primary-state);
    background-color: var(--wp--preset--color--primary-state);
    color: var(--wp--preset--color--white);
  }
}

.woocommerce a.button,
.btn--white,
.btn.is-style-light {
  border: 1px solid var(--wp--preset--color--black);
  background-color: var(--wp--preset--color--white);
  color: var(--wp--preset--color--black);

  &:hover,
  &:focus {
    background-color: var(--wp--preset--color--grey-light);
    border-color: var(--wp--preset--color--grey-light);
    color: var(--wp--preset--color--black)
  }
}
