.wp-block-button.is-style-pagination .wp-block-button__link {
  color: inherit;
  border: none;
  background-color: transparent;
  font-family: var(--wp--preset--font-family--secondary);
  font-size: var(--wp--preset--font-size-regular);
  font-weight: bold;
  line-height: 1.25;
  text-transform: uppercase;
  text-decoration: none;

  &:hover,
  &:focus {
    background-color: transparent;
  }
}

.wp-block-button.is-style-pagination.is-disabled .wp-block-button__link {
  cursor: not-allowed;
  opacity: .5;
}
