.wp-block-query-pagination-previous,
.wp-block-query-pagination-next {
  color: var(--wp--preset--color--black);
  text-decoration: none;
  font-family: var(--wp--preset--font-family--secondary) !important;
}
