// Base
@use "styles/base/reset";
@use "styles/base/shared";
@use "styles/base/base";
@use "styles/base/type";
@use "styles/base/links";
@use "styles/base/images";
@use "styles/base/container";
@use "styles/base/overlay";

// Layout
@use "styles/layout/language-banner";
@use "styles/layout/header";
@use "styles/layout/navigation";
@use "styles/layout/page-hero";
@use "styles/layout/footer";

// Components
@use "styles/components/fluid";
@use "styles/components/form";
@use "styles/components/grid";
@use "styles/components/icon";
@use "styles/components/list";
@use "styles/components/modal";
@use "styles/components/news-filters";
@use "styles/components/pop-in";
@use "styles/components/social";
@use "styles/components/tabbed-nav";

// Pages
@use "styles/pages/fourohfour";
@use "styles/pages/archive";
@use "styles/pages/article";
@use "styles/pages/author";
@use "styles/pages/news";
@use "styles/pages/petitions";
@use "styles/pages/search";
@use "styles/pages/single";

// WooCommerce
@use "styles/woocommerce/global";
@use "styles/woocommerce/shop-index";
@use "styles/woocommerce/product-archive";
@use "styles/woocommerce/product-single";
@use "styles/woocommerce/cart";
@use "styles/woocommerce/checkout";
@use "styles/woocommerce/my-account";
@use "styles/woocommerce/orders";

// Flickity slider, from npm
@import "~flickity/dist/flickity.css";

:root {
  --amnesty-icon-path: url("../images/sprite.svg"), none;
  --wp--preset--layout--contentSize: 1468px;
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%); // stylelint-disable property-no-vendor-prefix
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}
