.wp-block-amnesty-core-link-group {
  padding: 24px;
  background-color: var(--wp--preset--color--grey-lighter);
}

.wp-block-amnesty-core-link-group h2 {
  margin-bottom: var(--wp--preset--spacing--single);
  font-size: var(--wp--preset--font-size--heading-4);
}

.wp-block-amnesty-core-link-group ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.wp-block-amnesty-core-link-group li {
  display: flex;
  background-color: var(--wp--preset--color--white);
  word-break: break-word;
}

.wp-block-amnesty-core-link-group li + li {
  margin-top: var(--wp--preset--spacing--half);
}

.wp-block-amnesty-core-link-group li a {
  display: flex;
  padding: var(--wp--preset--spacing--half);
  width: 100%;
  height: 100%;
  transition: background .3s ease-in-out;
  text-decoration: none;
}

.wp-block-amnesty-core-link-group li a:hover,
.wp-block-amnesty-core-link-group li a:active,
.wp-block-amnesty-core-link-group li a:focus {
  background-color: var(--wp--preset--color--grey-lighter);
}

.wp-block-amnesty-core-link-group li a > svg {
  margin-right: var(--wp--preset--spacing--half);
  width: 20px;

  .rtl & {
    margin-right: 0;
    margin-left: var(--wp--preset--spacing--half);
  }
}
