.horizontal-search .additional-filters {
  max-height: 0;
  transition: max-height .3s, padding .3s;
  overflow-y: hidden;
}

.horizontal-search .additional-filters .btn {
  word-break: keep-all;
}

.horizontal-search .additional-filters.is-active {
  max-height: 1000px;
  padding-bottom: var(--wp--preset--spacing--half);
  overflow-y: visible;

  @include mq(medium) {
    max-height: 150px;
  }
}

.horizontal-search .additional-filters .section {
  flex-direction: column;
  align-items: center;
  padding: 0 !important;

  @include mq(medium) {
    flex-direction: row;
  }
}

.horizontal-search .taxonomyArchive-filters {
  width: 100%;
  margin-top: 0;
  gap: 0 var(--wp--preset--spacing--single);
}

.horizontal-search .additional-filters .taxonomyArchive-filters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  @include mq(medium) {
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
  }
}

.horizontal-search .additional-filters .taxonomyArchive-filters .checkboxGroup-button,
.horizontal-search .additional-filters .taxonomyArchive-filters .customSelect-button {
  background: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom-width: 2px;
}

.horizontal-search .additional-filters .taxonomyArchive-filters > div {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  margin-bottom: var(--wp--preset--spacing--half);
  width: 100%;

  @include mq(medium) {
    margin-bottom: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.horizontal-search .additional-filters.is-active .btn.is-active {
  background-color: var(--wp--preset--color--primary);
  color: var(--wp--preset--color--black);
  border-color: var(--wp--preset--color--primary);
}

// no-js styles
.no-js .horizontal-search .additional-filters {
  max-height: 1000px;
  transition: max-height .3s;
  padding: 0 0 var(--wp--preset--spacing--half) 0;
  overflow: visible;
}
