.horizontal-search .initial-filters {
  padding: spacing(half) 0 spacing(half) 0;
  display: flex;
  position: relative;
  z-index: 1;
  background-color: var(--wp--preset--color--grey-lighter);
}

.horizontal-search .initial-filters .default-search-filters {
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  @include mq(medium) {
    grid-template-columns: repeat(11, 1fr);
    align-items: stretch;
  }
}

.horizontal-search .initial-filters .default-search-filters .toggle-search-filters {
  grid-column: 9 / span 5;
  order: 2;
  padding-right: spacing(half);

  > * {
    pointer-events: none;
  }

  @include mq(xx-small) {
    grid-column: 10 / span 4;
  }

  @include mq(medium) {
    order: 5;
    grid-column: 11 / span 1;
    padding: spacing(half);
  }
}

.horizontal-search .initial-filters .section {
  margin-top: 0;

  @include mq($until: medium) {
    flex-direction: column;
  }
}

.horizontal-search .basic-filters {
  display: flex;
  flex-wrap: wrap;
  gap: spacing(half);
  grid-column: 1 / span 13;
  order: 3;
  max-height: 0;
  transition: max-height .3s, padding .3s;
  overflow-y: hidden;

  @include mq(medium) {
    flex-wrap: nowrap;
    gap: spacing();
    grid-column: 5 / span 6;
    order: 2;
    max-height: initial;
    overflow-y: visible;
  }
}

.horizontal-search .basic-filters.is-expanded {
  max-height: 1000px;
  padding-top: spacing(half);
  overflow: visible;

  @include mq(medium) {
    max-height: initial;
    padding-top: 0;
  }
}

.horizontal-search .checkboxGroup > * {
  width: 100%;
}

.horizontal-search .basic-filters .checkboxGroup-button {
  border-width: 2px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
  background: transparent;
}
