.editor-styles-wrapper .wp-block-button .wp-block-button__link {
  padding: 14px 24px;
  border-radius: 0;
}

.editor-styles-wrapper .wp-block-button .wp-block-button__link,
.editor-styles-wrapper .wp-block-button.is-style-default .wp-block-button__link {
  color: $color-black;
  background-color: $color-primary;
  border: 1px solid $color-primary-state;

  &:hover,
  &:active,
  &:focus {
    border-color: $color-primary-state;
    background-color: $color-primary-state;
    color: $color-white;
  }
}

.wp-block-button.is-style-dark .wp-block-button__link {
  border: 1px solid $color-black;
  background: $color-black;
  color: $color-white;

  &:hover,
  &:focus {
    background-color: $color-white;
    border-color: $color-black;
    color: $color-black;
  }
}

.wp-block-button.is-style-link .wp-block-button__link {
  background-color: transparent;
  border: none;

  &:hover,
  &:focus {
    background-color: transparent;
    color: $color-black;
  }
}
