.btn--topSpacing {
  margin-top: 16px;
}

.rtl .wp-block-buttons .wp-block-button:first-child {
  margin-right: 0;
}

.rtl .wp-block-buttons .wp-block-button:last-child {
  margin-right: 8px;
}

.wp-block-post-content > .wp-block-buttons {
  margin-top: var(--wp--preset--spacing--single);
  margin-bottom: var(--wp--preset--spacing--single);
}
