// author styles define this class without scope
.wp-block-amnesty-core-collapsable.is-collapsed {
  max-height: unset;
  padding: unset;
  position: unset;
  overflow: unset;
  content: unset;
}

.wp-block-amnesty-core-collapsable.is-collapsed::before {
  content: unset;
}

.wp-block-amnesty-core-collapsable figcaption {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: var(--wp--preset--spacing--half) 0;
  border-bottom: 1px solid var(--wp--preset--color--black);
}

.wp-block-amnesty-core-collapsable + .wp-block-amnesty-core-collapsable {
  margin-top: var(--wp--preset--spacing--half);
}

.wp-block-amnesty-core-collapsable + .wp-block-amnesty-core-collapsable figcaption {
  padding-top: 0;
}

.wp-block-amnesty-core-collapsable figcaption h2 {
  margin: 0 !important;
  font-size: var(--wp--preset--font-size--heading-3);
}

.wp-block-amnesty-core-collapsable .btn--blank {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0;
  width: 32px;
  height: 32px;
  cursor: pointer;
  outline: none;
}

.wp-block-amnesty-core-collapsable .btn--blank:focus-visible {
  border: 1px solid var(--wp--preset--color--black);
}

.wp-block-amnesty-core-collapsable .icon {
  display: block;
  pointer-events: none;
  transform: rotate(180deg);
  transition: transform .3s ease-in-out;
}

.wp-block-amnesty-core-collapsable .icon-arrow-down {
  background-size: 469.5px 450px;
  background-position: -406.5px -322.5px;
  transform: rotate(180deg);
  width: 24px;
  height: 24px;
}

.wp-block-amnesty-core-collapsable.is-collapsed .icon-arrow-down {
  transform: rotate(0deg);
}

.wp-block-amnesty-core-collapsable-inner {
  padding-top: var(--wp--preset--spacing--half);
  max-height: 2000px;
}

.wp-block-amnesty-core-collapsable.is-collapsed .wp-block-amnesty-core-collapsable-inner {
  padding-top: 0;
  max-height: 0;
  overflow-y: hidden;
}

.wp-block-amnesty-core-collapsable-inner > *:last-child {
  margin-bottom: 0;
}
