.sutori-toggle {
  margin-top: 24px;
  text-align: center;
  font-family: var(--wp--preset--font-family--secondary);
  font-size: var(--wp--preset--font-size--larger);
  text-decoration: underline;
  text-decoration-skip-ink: auto;
}

.sutori-embed iframe {
  display: none;
}

.sutori-embed iframe.is-open {
  display: block;
}
