.amnesty-footer-template-part {
  background-color: var(--wp--preset--color--black);
  padding: 28px 20px;
  color: var(--wp--preset--color--white);
  min-width: 100%;
}

.amnesty-footer-template-part p {
  font-size: var(--wp--preset--font-size--x-small);
}

.amnesty-footer-template-part h4 {
  margin-bottom: 24px;
  padding-bottom: 12px;
  font-size: var(--wp--preset--font-size--heading-6);
  text-transform: uppercase;
  color: var(--wp--preset--color--grey-light);
  font-family: var(--font-family-secondary);
  border-bottom: 1px solid var(--wp--preset--color-mid-dark);
  font-weight: bold;
}

.amnesty-footer-template-part h2 {
  font-size: var(--wp--preset--font-size--regular);
  color: var(--wp--preset--color--white);
  text-transform: uppercase;
  margin-bottom: 0;
  padding: 0 24px;
}

.amnesty-footer-template-part ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.amnesty-footer-template-part a {
  color: var(--wp--preset--color--white);
  font-size: var(--wp--preset--font-size--x-small);
  font-family: sans-serif;
}

.amnesty-footer-template-part .amnesty-policy-links {
  display: flex;
  font-size: var(--wp--preset--font-size--x-small);
}

.amnesty-footer-template-part .amnesty-policy-links li {
  padding-right: 12px;
  display: flex;
  align-self: center;
}

.amnesty-footer-template-part .amnesty-copyright {
  line-height: 1.5;
  color: rgba(var(--wp--preset--color--white), 0.7);
  padding-top: 8px;
}

.amnesty-footer-template-part .amnesty-policy-links li+li::before {
  content: "|";
  display: inline-block;
  padding-right: 12px;
}

.amnesty-footer-template-part .btn.btn--white {
  color: var(--wp--preset--color--black);
}

.amnesty-footer-template-part .amnesty-social-container {
  display: flex;
  justify-content: flex-end;
}

.amnesty-footer-template-part .amnesty-social-group {
  display: flex;
  align-items: center;
  color: var(--wp--preset--color--white);
}

.amnesty-footer-template-part .amnesty-social-container ul {
  display: flex;
}

.amnesty-footer-template-part .amnesty-social-container ul li {
  padding: 10px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.amnesty-footer-template-part .wp-block-buttons {
  justify-content: flex-start;
}

.amnesty-footer-template-part .wp-block-group .wp-block-separator {
  border-color: var(--wp--preset--color-mid-dark);
}

.amnesty-footer-template-part .wp-block-columns:first-of-type .wp-block-column {
  flex-basis: 17.5%;
}

.amnesty-footer-template-part .wp-block-columns:first-of-type .wp-block-column:last-of-type {
  flex-basis: 30%;
}

.amnesty-footer-template-part .amnesty-social-group .wp-social-link {
  background: none;
  color: var(--wp--preset--color--black);
}
