.site-header {
  margin: 0;
}

.site-header ul {
  padding: 0;
}

.site-header .page-header li,
.site-header .page-header li a {
  font-family: var(--wp--preset--font-family--secondary);
}

.site-header .page-header li a {
  text-decoration: none;
}
