.page-hero {
  position: relative;
  padding-top: 111px;
  padding-bottom: 110px;
  // height: 400px;
  // max-height: 40vh; // these two break the home page
  background-size: cover;
  background-position: center center;
  color: var(--wp--preset--color--white);
  max-width: 1468px;
  margin: 0 auto;
  width: 100%;

  @include mq(small) {
    padding-bottom: 80px;
    min-height: 450px;
    max-height: none;
    height: auto;
  }
}

.page-header--light ~ .page-hero,
.page-header--shaded ~ .page-hero {
  padding-top: 80px;
}

.page-header--transparent-dark ~ .page-hero,
.page-header--transparent-light ~ .page-hero {
  padding-top: 152px;
}

.page-heroTitle {
  max-width: 840px;
  margin: 0;
  padding: 0 16px;
  font-size: var(--wp--preset--font-size--heading-1);
  line-height: 1.2;
  text-transform: uppercase;

  @include mq(xx-small) {
    padding: 0 20px;
  }
}

.page-heroTitle span {
  background-color: color-mix(in srgb, var(--wp--preset--color--black) 45%, transparent);
  color: var(--wp--preset--color--white);
  box-shadow: 20px 0 0 color-mix(in srgb, var(--wp--preset--color--black) 45%, transparent), -20px 0 0 color-mix(in srgb, var(--wp--preset--color--black) 45%, transparent);
  box-decoration-break: clone;
}

p.page-heroContent {
  display: table;
  margin-bottom: 0;
  padding: 10px 16px;
  max-width: 460px;
  font-size: var(--wp--preset--font-size--regular);
  background-color: color-mix(in srgb, var(--wp--preset--color--black) 45%, transparent);

  @include mq(xx-small) {
    padding: 10px 20px;
  }
}

.page-heroContent a {
  color: inherit;
  text-decoration: underline;
}

.page-heroCta {
  display: inline-block;
  background-color: color-mix(in srgb, var(--wp--preset--color--black) 45%, transparent);
  padding: 16px;

  .btn {
    font-size: var(--wp--preset--font-size--heading-5);
    padding: 10px 14px;

    @include mq(xx-small) {
      padding: 11px 20px;
    }
  }

  @include mq(xx-small) {
    padding: 20px;
  }
}

.page-heroSize--small {
  @include mq(small) {
    min-height: 450px;
  }
}

.page-heroSize--large {
  @include mq(small) {
    min-height: 710px;
  }
}

.page-heroBackground--dark .page-heroContent,
.page-heroBackground--dark .page-heroCta,
.page-heroBackground--dark .page-heroTitle span {
  background-color: var(--wp--preset--color--black);
}

.page-heroBackground--dark .page-heroTitle span {
  box-shadow: 16px 0 0 var(--wp--preset--color--black), -16px 0 0 var(--wp--preset--color--black);

  @include mq(xx-small) {
    box-shadow: 20px 0 0 var(--wp--preset--color--black), -20px 0 0 var(--wp--preset--color--black);
  }
}

.page-heroBackground--light .page-heroContent,
.page-heroBackground--light .page-heroCta,
.page-heroBackground--light .page-heroTitle span {
  background-color: var(--wp--preset--color--white);
  color: var(--wp--preset--color--black);
}

.page-heroBackground--light .page-heroTitle span {
  box-shadow: 16px 0 0 var(--wp--preset--color--white), -16px 0 0 var(--wp--preset--color--white);

  @include mq(xx-small) {
    box-shadow: 20px 0 0 var(--wp--preset--color--white), -20px 0 0 var(--wp--preset--color--white);
  }
}

.page-heroBackground--light .btn {
  border-color: var(--wp--preset--color--black);
  background-color: var(--wp--preset--color--black);
  color: var(--wp--preset--color--white);

  &:hover,
  &:focus {
    background-color: color-mix(in srgb, var(--wp--preset--color--black) 80%, transparent);
    color: var(--wp--preset--color--white);
  }
}

.page-heroBackground--none .page-heroContent,
.page-heroBackground--none .page-heroCta,
.page-heroBackground--none .page-heroTitle,
.page-heroBackground--none .page-heroTitle span {
  padding-left: 0;
  padding-right: 0;
  color: var(--wp--preset--color--white);
  background-color: transparent;
}

.page-heroBackground--none .page-heroTitle span {
  box-shadow: none;
}

.page-heroAlignment--centre .hero-content,
.page-heroAlignment--center .hero-content {
  text-align: center;
  max-width: 840px;
}

.page-heroAlignment--right .hero-content {
  text-align: end;
}

.page-hero--video {
  position: relative;
  z-index: 0;
}

.page-heroVideoContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.page-heroVideo {
  position: absolute;
  top: 50%;
  left: 50%;
  display: none;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;

  @include mq(small) {
    display: block;
  }
}

.play-icon {
  display: inline-block;
  width: 0;
  height: 0;
  margin-right: 12px;
  border-style: solid;
  border-width: 10px 0 10px 18px;
  border-color: transparent transparent transparent var(--wp--preset--color--black);
  text-indent: -1000vw;
  overflow: hidden;
}

.page-heroBackground--light .play-icon {
  border-color: transparent transparent transparent var(--wp--preset--color--white);
}

.page-hero + main .article-container {
  padding-top: 0;
}
