.wp-block-file a + a.wp-block-file__button {
  margin-left: var(--wp--preset--spacing--single);
}

.rtl .wp-block-file a + a.wp-block-file__button {
  margin-right: var(--wp--preset--spacing--single);
  margin-left: unset;
}
