.wp-block-social-links.is-style-light li {
  color: var(--wp--preset--color--black) !important;
  background-color: var(--wp--preset--color--white) !important;
  border-radius: 0;
  border: 1px solid var(--wp--preset--color--black);
  display: flex;
}

.wp-block-social-links.is-style-light li:hover,
.wp-block-social-links.is-style-light li:active,
.wp-block-social-links.is-style-light li:focus {
  background-color: var(--wp--preset--color--grey-lighter) !important;
}

.wp-block-social-links.is-style-light li:focus-within {
  background-color: var(--wp--preset--color--grey-lighter) !important;
}

.wp-block-social-links.is-style-light-circle li {
  color: var(--wp--preset--color--black) !important;
  background-color: var(--wp--preset--color--white) !important;
  border: 1px solid var(--wp--preset--color--black);
  display: flex;
}

.wp-block-social-links.is-style-light-circle li:hover,
.wp-block-social-links.is-style-light-circle li:active,
.wp-block-social-links.is-style-light-circle li:focus {
  background-color: var(--wp--preset--color--grey-lighter) !important;
}

.wp-block-social-links.is-style-light-circle li:focus-within {
  background-color: var(--wp--preset--color--grey-lighter) !important;
}

.wp-block-social-links.is-style-dark-circle li {
  color: var(--wp--preset--color--white);
  background-color: var(--wp--preset--color--black) !important;
  display: flex;
}

.wp-block-social-links.is-style-dark-circle li:hover,
.wp-block-social-links.is-style-dark-circle li:active,
.wp-block-social-links.is-style-dark-circle li:focus {
  background-color: var(--wp--preset--color--grey-darker) !important;
}

.wp-block-social-links.is-style-dark-circle li:focus-within {
  background-color: var(--wp--preset--color--grey-darker) !important;
}

.wp-block-social-links.is-style-dark li {
  background-color: var(--wp--preset--color--black) !important;
  border-radius: 0%;
  display: flex;
}

.wp-block-social-links.is-style-dark li:hover,
.wp-block-social-links.is-style-dark li:active,
.wp-block-social-links.is-style-dark li:focus {
  background-color: var(--wp--preset--color--grey-darker) !important;
}

.wp-block-social-links.is-style-dark li:focus-within {
  background-color: var(--wp--preset--color--grey-darker) !important;
}

.wp-block-social-links.is-style-logos-only-dark li {
  color: var(--wp--preset--color--black) !important;
  background: none !important;
  display: flex;
}

.wp-block-social-links.is-style-logos-only-light li {
  color: var(--wp--preset--color--white) !important;
  background: none !important;
  display: flex;
}

.wp-block-social-links.is-style-dark li a {
  color: var(--wp--preset--color--white);
  align-self: center;
  margin-bottom: 0;
}

.wp-block-social-links.is-style-dark-circle li a {
  color: var(--wp--preset--color--white);
  align-self: center;
  margin-bottom: 0;
}

.wp-block-social-links.is-style-light li a {
  align-self: center;
  margin-bottom: 0;
}

.wp-block-social-links.is-style-light-circle li a {
  align-self: center;
  margin-bottom: 0;
}

.wp-block-social-links.is-style-logos-only-dark li a {
  align-self: center;
  margin-bottom: 0;

  &:hover,
  &:active,
  &:focus {
    color: var(--wp--preset--color--grey-darker) !important;
  }
}

.wp-block-social-links.is-style-logos-only-light li a {
  color: var(--wp--preset--color--white);
  align-self: center;
  margin-bottom: 0;

  &:hover,
  &:active,
  &:focus {
    color: var(--wp--preset--color--grey-lighter) !important;
  }
}

.wp-block-social-links li {
  margin: 12px;

  &:hover {
    transform: none;
  }
}
