.wp-block-amnesty-core-slide {
  box-sizing: border-box;
}

.wp-block-amnesty-core-slide .editor-url-input__button {
  position: relative;
  margin-left: 16px;
}

.wp-block-amnesty-core-slide .editor-url-input__button-modal {
  position: absolute;
  left: 0;
  width: 340px;
}

.slide-callToAction  .block-editor-url-input__button .components-toolbar__control {
  background-color: var(--wp--preset--color--grey-base);
}

.slide-callToAction .btn span {
  color: var(--wp--preset--color--black);
}
