<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:pattern {"slug":"amnesty/author-hero"} /-->

<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group">
    <!-- wp:group {"tagName":"div","className":"container has-gutter"} -->
    <div class="wp-block-group container has-gutter">
        <!-- wp:group {"tagName":"div","className":"article-container"} -->
        <div class="wp-block-group article-container">
            <!-- wp:group {"tagName":"section","className":"article section--topSpacing"} -->
            <section class="wp-block-group article section--topSpacing">
                <!-- wp:pattern {"slug":"amnesty/author-bio"} /-->
                <!-- wp:pattern {"slug":"amnesty/author-loop"} /-->
            </section>
            <!-- /wp:group -->
			<!-- wp:pattern {"slug":"amnesty/author-sidebar"} -->
        </div>
        <!-- /wp:group -->
    </div>
    <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"humanity-theme","area":"footer","className":"amnesty-footer-template-part"} /-->
