<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">
    <!-- wp:group {"tagName":"section","className":"section section--small"} -->
	<section class="wp-block-group section section--small">
        <!-- wp:group {"tagName":"div","className":"container container--small article-container"} -->
		<div class="wp-block-group container container--small article-container">
            <!-- wp:group {"tagName":"article","className":"article"} -->
			<article class="wp-block-group article">
                <!-- wp:group {"tagName":"header","className":"article-header"} -->
				<header class="wp-block-group article-header">
                    <!-- wp:post-title {"level":1,"className","article-title"} /-->
				</header>
                <!-- /wp:group -->
                <!-- wp:group {"tagName":"section","className":"article-content"} -->
				<section class="wp-block-group article-content">
                    <!-- wp:post-content /-->
				</section>
                <!-- /wp:group -->
			</article>
            <!-- /wp:group -->
		</div>
        <!-- /wp:group -->
	</section>
    <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"humanity-theme","area":"footer","className":"amnesty-footer-template-part"} /-->
