<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:pattern {"slug":"amnesty/post-hero"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">
	<!-- wp:amnesty-core/block-section {"className":"section section-small"} -->
	<!-- wp:group {"tagName":"div","className":"container article-container has-gutter","layout":{"type":"constrained"}} -->
	<div class="wp-block-group container article-container has-gutter">
	<!-- wp:pattern {"slug":"amnesty/page-content"} /-->
    <!-- wp:amnesty-core/sidebar /-->
	</div>
	<!-- /wp:group -->
	<!-- /wp:amnesty-core/block-section -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"humanity-theme","area":"footer","className":"amnesty-footer-template-part"} /-->
