<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group">
    <!-- wp:group {"tagName":"div","className":"container has-gutter"} -->
    <div class="wp-block-group container has-gutter">
        <!-- wp:amnesty-core/search-form /-->

        <!-- wp:group {"tagName":"div"} -->
        <div class="wp-block-group">
            <!-- wp:pattern {"slug":"amnesty/search-results"} /-->
        </div>
        <!-- /wp:group -->
    </div>
    <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"humanity-theme","area":"footer","className":"amnesty-footer-template-part"} /-->
