<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:pattern {"slug":"amnesty/post-hero"} /-->

<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group">
    <!-- wp:pattern {"slug":"amnesty/featured-image"} /-->
    <!-- wp:group {"tagName":"div","className":"container has-gutter"} -->
    <div class="wp-block-group container has-gutter">
        <!-- wp:group {"tagName":"div","className":"article-container"} -->
        <div class="wp-block-group article-container">
            <!-- wp:pattern {"slug":"amnesty/post-content"} /-->
            <!-- wp:pattern {"slug":"amnesty/sidebar"} /-->
        </div>
        <!-- /wp:group -->
    </div>
    <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"humanity-theme","area":"footer","className":"amnesty-footer-template-part"} /-->
