<!-- wp:pattern {"slug":"amnesty/taxonomy-location-hero"} /-->
<!-- wp:pattern {"slug":"amnesty/taxonomy-location-country-selection"} /-->
<!-- wp:pattern {"slug":"amnesty/taxonomy-location-menu"} /-->

<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group">
    <!-- wp:pattern {"slug":"amnesty/taxonomy-location-overview"} /-->
    <!-- wp:pattern {"slug":"amnesty/taxonomy-location-human-rights"} /-->
    <!-- wp:pattern {"slug":"amnesty/taxonomy-location-news"} /-->
    <!-- wp:pattern {"slug":"amnesty/taxonomy-location-offices"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"humanity-theme","area":"footer","className":"amnesty-footer-template-part"} /-->
