.filter-wrapper {
  display: flex;
  align-items: center;
  padding-top: 0 !important;
  text-transform: uppercase;
  font-family: var(--wp--preset--font-family--secondary);
  font-weight: bold;
}

.filter-wrapper .filter-label {
  margin-bottom: 0;
  font-size: var(--wp--preset--font-size--regular);
}

.filter-wrapper .active-filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 0;
  list-style: none;
}

.filter-wrapper .clear-filter {
  text-decoration: none;
}

.clear-filter {
  margin-right: var(--wp--preset--spacing--half);
  padding: var(--wp--preset--spacing--quarter);
  background-color: var(--wp--preset--color--grey-lightest);
  font-size: var(--wp--preset--font-size--x-small);

  &::after {
    content: "x";
    display: inline-block;
    margin-left: var(--wp--preset--spacing--quarter);
  }

  &:hover,
  &:active,
  &:focus {
    background-color: var(--wp--preset--color--grey-lighter);
  }
}

.rtl .clear-filter {
  margin-right: 0;
  margin-left: var(--wp--preset--spacing--half);

  &::after {
    margin-right: var(--wp--preset--spacing--quarter);
    margin-left: 0;
  }
}

.clear-filter--all {
  background-color: var(--wp--preset--color--grey-lighter);
}
