.article-sidebar .callToAction,
.callToAction--small {
  padding: 20px;
}

.article-sidebar .callToAction .callToAction-preHeading,
.callToAction--small .callToAction-preHeading {
  font-size: var(--wp--preset--font-size--heading-4);
  margin-bottom: 20px;
}

.article-sidebar .callToAction .callToAction-heading,
.callToAction--small .callToAction-heading {
  font-size: var(--wp--preset--font-size--heading-3);
  margin-bottom: 20px;
}

.article-sidebar .callToAction .callToAction-content,
.callToAction--small .callToAction-content {
  font-size: var(--wp--preset--font-size--small);
  margin-bottom: 20px;
}
