.wp-block-amnesty-core-hero.is-aligned-left .hero-contentWrapper {
  align-items: start;
  text-align: start;
}

.wp-block-amnesty-core-hero.is-aligned-center .hero-contentWrapper {
  align-items: center;
  text-align: center;
}

.wp-block-amnesty-core-hero.is-aligned-center .hero-content {
  margin-inline: auto;
}

.wp-block-amnesty-core-hero.is-aligned-right .hero-contentWrapper {
  align-items: end;
  text-align: end;
}
