.wp-block-amnesty-core-hero,
.wp-block-amnesty-core-hero * {
  box-sizing: border-box;
}

.wp-block-amnesty-core-hero {
  gap: 40px;
}

.wp-block-amnesty-core-hero .hero-contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.wp-block-amnesty-core-hero .hero-contentWrapper > * {
  margin-block: 0 var(--wp--preset--spacing--quarter);
}

.wp-block-amnesty-core-hero .btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wp-block-amnesty-core-hero .btn .block-editor-url-input__button {
  position: relative;
  margin-inline-start: var(--wp--preset--spacing--half);
}

.wp-block-amnesty-core-hero .block-editor-url-input__button-modal {
  position: absolute;
}

[data-type="amnesty-core/hero"] .wp-block[data-align],
.wp-block[data-align] .wp-block-amnesty-core-hero {
  height: auto;
  min-height: 540px;
}

[data-type="amnesty-core/hero"] .wp-block[data-align="left"] .container,
.wp-block[data-align="left"] .wp-block-amnesty-core-hero .container {
  justify-content: start;
}

[data-type="amnesty-core/hero"] .wp-block[data-align="left"] .hero-contentWrapper,
.wp-block[data-align="left"] .wp-block-amnesty-core-hero .hero-contentWrapper {
  align-items: start;
  text-align: start;
}

[data-type="amnesty-core/hero"] .wp-block[data-align="center"] .container,
.wp-block[data-align="center"] .wp-block-amnesty-core-hero .container {
  justify-content: center;
}

[data-type="amnesty-core/hero"] .wp-block[data-align="center"] .hero-contentWrapper,
.wp-block[data-align="center"] .wp-block-amnesty-core-hero .hero-contentWrapper {
  align-items: center;
  text-align: center;
}

[data-type="amnesty-core/hero"] .wp-block[data-align="right"] .container,
.wp-block[data-align="right"] .wp-block-amnesty-core-hero .container {
  justify-content: end;
}

[data-type="amnesty-core/hero"] .wp-block[data-align="right"] .hero-contentWrapper,
.wp-block[data-align="right"] .wp-block-amnesty-core-hero .hero-contentWrapper {
  align-items: end;
  text-align: end;
}
