.wp-block-amnesty-core-hero.has-dark-background .hero-title span,
.wp-block-amnesty-core-hero.has-dark-background .hero-content,
.wp-block-amnesty-core-hero.has-dark-background .hero-cta {
  color: var(--wp--preset--color--white);
  background-color: var(--wp--preset--color--black);
}

.wp-block-amnesty-core-hero.has-light-background .hero-title span,
.wp-block-amnesty-core-hero.has-light-background .hero-content,
.wp-block-amnesty-core-hero.has-light-background .hero-cta {
  color: var(--wp--preset--color--black);
  background-color: var(--wp--preset--color--white);
}

.wp-block-amnesty-core-hero.has-light-background .btn {
  border: none;
  color: var(--wp--preset--color--white);
  background-color: var(--wp--preset--color--black);
}

.wp-block-amnesty-core-hero.is-aligned-left .container {
  justify-content: start;
}

.wp-block-amnesty-core-hero.is-aligned-left .hero-contentWrapper {
  text-align: start;
}

.wp-block-amnesty-core-hero.is-aligned-center .container {
  justify-content: center;
}

.wp-block-amnesty-core-hero.is-aligned-center .hero-contentWrapper {
  align-items: center;
  text-align: center;
}

.wp-block-amnesty-core-hero.is-aligned-center .hero-content {
  margin-right: auto;
  margin-left: auto;
}

.wp-block-amnesty-core-hero.is-aligned-right .container {
  justify-content: end;
}

.wp-block-amnesty-core-hero.is-aligned-right .hero-contentWrapper {
  align-items: end;
  text-align: end;
}

.wp-block-amnesty-core-hero.is-aligned-right .hero-content {
  margin-inline-start: auto;
}
