.tabs-nav ul,
.tabs-nav li {
  list-style: none;
}

.tabs-nav {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  transform: translateY(1px);
}

.tabs-nav li a {
  display: block;
  padding: 20px 40px;
  border-top: 1px solid var(--wp--preset--color--grey-lighter);
  background: var(--wp--preset--color--grey-lighter);
  text-transform: uppercase;
  font-family: var(--wp--preset--font-family--secondary);
  cursor: pointer;
}

.tabs-nav li a.is-selected {
  background: var(--wp--preset--color--white);
}

.tabs-nav li {
  &:first-of-type a {
    border-left: 1px solid var(--wp--preset--color--grey-lighter);
    border-right: 1px solid var(--wp--preset--color--grey-lighter);
  }

  &:last-of-type a {
    border-right: 1px solid var(--wp--preset--color--grey-lighter);
  }
}

.tab-content {
  display: none;
}

.tab-content.is-selected {
  display: block;
}

.tabs-content {
  padding: 30px;
  border: 1px solid var(--wp--preset--color--grey-lighter);
}
