@import "./variants";

.wp-block-amnesty-core-hero {
  position: relative;
  display: flex;
  margin: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
  max-width: var(--wp--preset--layout--contentSize);
  min-height: 23px;
  background-size: cover;
  background-position: center center;

  @media all and (min-width: 760px) {
    padding-top: 111px;
    padding-bottom: 80px;
    height: auto;
  }
}

.wp-block-amnesty-core-hero .container {
  z-index: 2;
  display: flex;
  justify-content: space-between;
  padding: 0 24px !important;
  position: relative;
}

.hero-contentWrapper > * {
  margin-bottom: 12px;
}

.hero-content {
  display: table;
  padding: 10px 16px;
  max-width: 460px;
  font-size: 1.5rem;

  @media all and (min-width: 465px) {
    padding: 10px 20px;
    max-width: 840px;
  }
}

.hero-title {
  margin: 0;
  padding: 0 16px;
  font-size: 4.5rem;
  line-height: 1.3 !important;
  background-color: rgba(0, 0, 0, 0.45);
  color: #fff;
  max-width: 840px;
  text-transform: uppercase;
  box-decoration-break: clone;

  @media all and (min-width: 465px) {
    font-size: 48px;
    padding: 0 20px;
  }

  @media all and (min-width: 760px) {
    font-size: 72px;
  }
}

.hero-cta {
  display: inline-block;
  padding: 16px;
  background-color: rgba(var(--wp--preset--color--black), .45);

  @media all and (min-width: 465px) {
    padding: 20px;
  }
}

.hero-videoContainer,
.hero-video {
  display: none;

  @media all and (min-width: 760px) {
    display: block;
  }
}

.hero-videoContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.hero-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
}

.wp-block-amnesty-core-hero .image-metadata.is-image {
  display: flex;
}

.wp-block-amnesty-core-hero .image-metadata.is-video {
  display: none;
}

.wp-block-amnesty-core-hero.has-video .image-metadata.is-image {
  display: flex;

  @media all and (min-width: 760px) {
    display: none;
  }
}

.wp-block-amnesty-core-hero.has-video .image-metadata.is-video {
  display: none;

  @media all and (min-width: 760px) {
    display: flex;
  }
}

.wp-block-amnesty-core-hero.has-dark-background .hero-title,
.wp-block-amnesty-core-hero.has-dark-background .hero-content,
.wp-block-amnesty-core-hero.has-dark-background .hero-cta {
  color: var(--wp--preset--color--white);
  background-color: var(--wp--preset--color--black);
}

.wp-block-amnesty-core-hero.has-light-background .hero-title,
.wp-block-amnesty-core-hero.has-light-background .hero-content,
.wp-block-amnesty-core-hero.has-light-background .hero-cta {
  color: var(--wp--preset--color--black);
  background-color: var(--wp--preset--color--white);
}

.wp-block-amnesty-core-hero.has-light-background .btn {
  border: none;
  color: var(--wp--preset--color--white);
  background-color: var(--wp--preset--color--black);
}

.wp-block-amnesty-core-hero.is-aligned-left .container {
  justify-content: start;
}

.wp-block-amnesty-core-hero.is-aligned-left .hero-contentWrapper {
  text-align: start;
}

.rtl .wp-block-amnesty-core-hero.is-aligned-left .container {
  justify-content: end;
}

.rtl .wp-block-amnesty-core-hero.is-aligned-left .hero-contentWrapper {
  text-align: end;
}

.rtl .wp-block-amnesty-core-hero.is-aligned-left .hero-content {
  margin-right: auto;
  margin-left: 0;
}

.wp-block-amnesty-core-hero.is-aligned-center .container {
  justify-content: center;
}

.wp-block-amnesty-core-hero.is-aligned-center .hero-contentWrapper {
  align-items: center;
  text-align: center;
}

.wp-block-amnesty-core-hero.is-aligned-center .hero-content {
  margin-right: auto;
  margin-left: auto;
}

.wp-block-amnesty-core-hero.is-aligned-right .container {
  justify-content: end;
}

.wp-block-amnesty-core-hero.is-aligned-right .hero-contentWrapper {
  align-items: end;
  text-align: end;
}

.wp-block-amnesty-core-hero.is-aligned-right .hero-content {
  margin-left: auto;
}

.rtl .wp-block-amnesty-core-hero.is-aligned-right .container {
  justify-content: start;
}

.rtl .wp-block-amnesty-core-hero.is-aligned-right .hero-contentWrapper {
  text-align: start;
}
