.wp-block-amnesty-core-regions {
  padding: 24px;
}

.wp-block-amnesty-core-regions h2 {
  text-transform: uppercase;
}

.wp-block-amnesty-core-regions ul,
.wp-block-amnesty-core-regions ul ul {
  margin: 0 !important;
  padding: 0 !important;
  list-style: none;
}

.wp-block-amnesty-core-regions .listItems {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.wp-block-amnesty-core-regions .listItems > li {
  margin-top: spacing();
  flex: 1 1 100%;

  @media all and (min-width: 540px) {
    flex-basis: 50%;
    max-width: 50%;
  }

  @media all and (min-width: 940px) {
    flex-basis: 33%;
    max-width: 33%;
  }

  @media all and (min-width: 1200px) {
    flex-basis: 25%;
    max-width: 25%;
  }

  @media all and (min-width: 1400px) {
    flex-basis: auto;
  }
}

.wp-block-amnesty-core-regions .listItems li a {
  font-weight: normal;
  text-decoration: none;
  text-decoration-skip-ink: auto;

  &:hover,
  &:active,
  &:focus {
    text-decoration: underline;
  }
}

.wp-block-amnesty-core-regions .listItems > li > a {
  font-family: var(--wp--preset--font-family--secondary);
  font-weight: bold;
}

.wp-block-amnesty-core-regions .has-children {
  margin-bottom: 24px;
}

.wp-block-amnesty-core-regions .children {
  margin-top: spacing();
}

.wp-block-amnesty-core-regions .has-children .has-children li::before {
  content: "- ";
}

.wp-block-amnesty-core-regions .has-children .has-children .children {
  margin-top: 0;
}

.wp-block-amnesty-core-regions.alignleft h2 {
  text-align: left;

  .rtl & {
    text-align: right;
  }
}

.wp-block-amnesty-core-regions.alignleft .children li {
  padding-right: 12px !important;
  text-align: left;

  .rtl & {
    text-align: right;
    padding-left: 12px !important;
    padding-right: 0 !important;
  }
}

.wp-block-amnesty-core-regions.aligncenter,
.wp-block-amnesty-core-regions.aligncenter h2,
.wp-block-amnesty-core-regions.aligncenter .listItems li,
.wp-block-amnesty-core-regions.aligncenter .children li
 {
  text-align: center;
}

.wp-block-amnesty-core-regions.alignright h2 {
  text-align: right;

  .rtl & {
    text-align: left;
  }
}

.wp-block-amnesty-core-regions.alignright .listItems li {
  text-align: right;

  .rtl & {
    text-align: left;
  }
}

.wp-block-amnesty-core-regions.alignright .children li {
  padding-left: 12px !important;
  text-align: right;

  .rtl & {
    text-align: left;
    padding-left: 0 !important;
    padding-right: 12px !important;
  }
}
