.page-nav,
.page-nav > ul {
  height: 100%;
}

.page-nav ul,
.rtl .page-nav ul {
  margin: 0;
  list-style: none;
}

.page-nav > ul {
  display: inline-flex;
  align-items: stretch;
}

.page-nav .menu-item {
  display: block;
  white-space: nowrap;
}

.page-nav .menu-item a {
  display: inline-flex;
  align-items: center;
  justify-content: left;
  padding: spacing(half) spacing();
  width: 100%;
  height: 100%;

  .rtl & {
    justify-content: right;
  }
}

.page-nav .site-selector span {
  display: inline-flex;
  align-items: center;
  justify-content: left;
  padding: 13.5px 27px;
  width: 100%;
  height: 100%;
}

.page-nav .sub-menu {
  position: absolute;
  z-index: 2;
  top: 100%;
  display: none;
  margin: 0;
  width: 200px;
  perspective: 1000px;
  animation: growDown .3s ease-in-out forwards;
  transform-origin: top center;

  .rtl & {
    right: 0;
  }
}

.page-nav .sub-menu .menu-item:not(:first-child) {
  border-top: 1px solid $color-grey-md-light;
}

.page-nav .sub-menu .menu-item span {
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.page-nav .menu-item-has-children {
  position: relative;
}

.page-nav .menu-item-has-children:hover .sub-menu,
.page-nav .menu-item-has-children:active .sub-menu,
.page-nav .menu-item-has-children:focus .sub-menu {
  display: block;
}

.page-nav .menu-item-has-children:focus-within .sub-menu {
  display: block;
}

.page-nav--main {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;

  .rtl & {
    margin-right: auto;
    margin-left: 0;
  }
}

.page-nav--main > ul > .menu-item {
  display: none;

  @include mq(xm-large) {
    display: flex;
  }
}

.page-nav--main > ul > .menu-item.donate-menu-item {
  display: flex;
}

.site-separator {
  width: 1px;
  height: 100%;
}
