.linkList {
  list-style: none;
  margin-left: 0;
  padding: 0;
}

.linkList li {
  flex-basis: 100%;
}

.linkList li + li {
  margin-top: 18px;
}

.linkList-item {
  @include state-background(var(--wp--preset--color--grey-base));
  position: relative;
  padding: 40px 10px;
  width: 100%;
  min-height: 171px;
  background-color: var(--wp--preset--color--grey-lighter);
}

.linkList-itemTitle {
  margin-bottom: 12px;
  margin-top: 12px;
  font-family: var(--wp--preset--font-family--secondary);
  font-size: 19px;
  font-weight: normal;
  line-height: 1.2;
}

.linkList-itemTitle > a {
  color: var(--wp--preset--color--black);
  text-decoration: none;

  &::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.linkList-itemMeta {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  padding: 4px 8px;
  text-transform: uppercase;
  font-size: 16px;
  font-family: var(--wp--preset--font-family--secondary);
  font-weight: bold;
  background-color: var(--wp--preset--color--black);
  color: var(--wp--preset--color--white);
}

.linkList-item .linkList-itemMeta > a {
  position: relative;
  z-index: 2;
  color: var(--wp--preset--color--white);
  text-decoration: none;
}

.postInfo-container {
  display: flex;
  align-items: center;
}

.linkList-itemDate {
  display: flex;
  align-items: baseline;
  margin-bottom: 0;
}

.linkList-itemDate .dateDescription {
  font-family: var(--wp--preset--font-family--secondary);
}

.linkList-itemAuthor .authorDescription {
  font-family: var(--wp--preset--font-family--secondary);
}

.linkList-itemDate .dateTerm {
  padding-right: 10px;
}

.linkList-itemAuthor .authorTerm {
  padding-right: 10px;
}

.linkList-itemAuthor {
  display: flex;
  margin-bottom: 0;
}

.linkList-authorDivider {
  display: inline-flex;
}

.linkList-authorDivider::before {
  content: " ";
  height: 12px;
  width: 1px;
  background: var(--wp--preset--color--black);
  margin: 10px;
}
