@use '../../../utils/mixins/placeholder' as p;

.edit-post-visual-editor .editor-block-list__block[data-type="amnesty-core/image-block"] {
  max-width: 100%;
  width: 100%;
}

.imageBlock {
  display: block;
  max-width: 100% !important;
  min-height: 400px;
  background-color: var(--wp--preset--color--grey-light);
}

.imageBlock.imageBlock.has-parallax {
  overflow-y: hidden;
}

.imageBlock.has-parallax .imageBlock-overlay {
  z-index: 1 !important;
}

.imageBlock.alignright .imageBlock-image {
  float: right;
}

.imageBlock.aligncentre .imageBlock-image {
  display: block;
  margin: 0 auto;
}

.imageBlock.alignleft .imageBlock-image {
  float: left;
}

.imageBlock-overlay > * + * {
  margin-top: 40px !important;
}

.imageBlock-title,
.imageBlock-content {
  max-width: none;
  background-color: transparent !important;
  text-align: center;
  color: var(--wp--preset--color--white) !important;
}

.imageBlock-buttonsContainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-content: flex-start;
  min-width: 600px;
  position: relative;

  > * {
    margin: 0 10px;
  }
}

.imageBlock-buttonsContainer .linkList-options {
  position: absolute;
  display: flex;
  margin-top: 5px;
  background: none;
  bottom: 0;
  right: 0;
  top: auto;
}

.imageBlock-buttonWrapper {
  position: relative;
}

.imageBlock-buttonWrapper .btn.btn--white {
  padding: 10px !important;
  color: var(--wp--preset--color--black) !important;
  border: 1px solid var(--wp--preset--color--black) !important;
  background-color: var(--wp--preset--color--white) !important;
  border-radius: 0 !important;
  font-family: var(--wp--preset--font-family--secondary);
  font-weight: bold;
  font-size: var(--wp--preset--font-size--small);
  text-transform: uppercase;

  @include p.placeholder {
    color: var(--wp--preset--color--black) !important;
  }
}

.imageBlock-overlay .editor-url-input__button button,
.imageBlock-overlay .components-icon-button {
  background-color: var(--wp--preset--color--white);
  border-radius: 0;
  color: var(--wp--preset--color--black)-light;
}

.imageBlock-copyright {
  padding: 5px 10px 5px 5px !important;
  width: auto !important;
  font-size: var(--wp--preset--font-size--x-small) !important;
  color: var(--wp--preset--color--white) !important;
}

.imageBlock-title,
.imageBlock-content p,
.imageBlock-copyright {
  color: var(--wp--preset--color--white) !important;

  @include p.placeholder {
    color: var(--wp--preset--color--white) !important;
  }
}
