.wp-block-amnesty-core-tweet-block .block-editor-plain-text {
  border-radius: 0;
}

.tweetAction-title {
  display: inline-block;
  padding: var(--wp--preset--spacing--half);
  max-width: calc(100% - 54px);
  background: transparent;
  font-family: var(--wp--preset--font-family--secondary);
  font-size: var(--wp--preset--font-size--heading-4);
  font-weight: bold;
  line-height: 1.4;
  text-transform: uppercase;
}

.tweetAction-content {
  margin-top: var(--wp--preset--spacing--half);
  margin-bottom: var(--wp--preset--spacing--half);
  padding: var(--wp--preset--spacing--half);
  font-family: var(--wp--preset--font-family--primary);
  font-size: var(--wp--preset--font-size--heading-5);
}

.tweetAction-button {
  padding-right: var(--wp--preset--spacing--half);
  padding-left: var(--wp--preset--spacing--half);
}

.block-editor-block-list__layout .tweetBlock {
  display: flex;
  min-width: 400px;
}

.block-editor-block-list__layout .tweetBlock.alignleft {
  justify-content: flex-start;
}

.block-editor-block-list__layout .tweetBlock.aligncenter {
  justify-content: center;
}

.block-editor-block-list__layout .tweetBlock.alignright {
  justify-content: flex-end;
}
