.actionBlock {
  margin: 0;
  max-width: 350px;
  font-family: var(--wp--preset--font-family--secondary);
  font-weight: bold;
  background-color: var(--wp--preset--color--grey-lighter);
}

.actionBlock.is-centred {
  margin-right: auto;
  margin-left: auto;
}

.actionBlock--wide {
  width: 480px;
  max-width: 100%;
}

.actionBlock-figure {
  position: relative;
  height: 230px;
}

.actionBlock-figure a {
  display: block;
}

.actionBlock-figure img {
  max-width: 100%;
  min-width: 100%;
  height: auto;
}

.actionBlock-image {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  overflow: hidden;
  background-color: color-mix(in srgb, var(--wp--preset--color--black) 25%, transparent);
}

.actionBlock-image img {
  object-fit: cover;
  min-width: 100%;
  min-height: 100%;
}

.actionBlock-label {
  position: absolute;
  bottom: 0;
  left: 16px;
  padding: 8px;
  font-size: var(--wp--preset--font-size--regular);
  background-color: var(--wp--preset--color--black);
  color: var(--wp--preset--color--white);
  text-transform: uppercase;
}

.actionBlock-content {
  padding: 16px;
  font-size: var(--wp--preset--font-size--heading-5);
}

.actionBlock-content p {
  margin-bottom: 0;
  min-height: 80px;
}

// these styles may need to be global
.page-template-page-petitions .actionBlock {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
}

.page-template-page-petitions .actionBlock-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}
