@use "../utils/mixins/icon" as i;

.wp-block-details summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--wp--preset--spacing--half);
  padding: var(--wp--preset--spacing--half) 0;
  border-bottom: 1px solid var(--wp--preset--color--black);
  color: var(--wp--preset--color--grey-darker);
  font-family: var(--wp--preset--font-family--secondary);
  font-size: var(--wp--preset--font-size--heading-3);
  line-height: 1.12;

  &::after {
    @include i.icon-scaled(271px, 215px, 16px, 16px, 1.5);
    position: relative;
    content: "";
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }
}

.wp-block-details[open] summary::after {
  transform: rotate(180deg);
}
