.wp-block-group.custom-card {
  width:100%;

  .wp-block-buttons {
    padding-left: 8px;
    padding-right: 8px;
  }

  .wp-block-buttons,
  .wp-block-button,
  .wp-block-button__link {
    width: 100%;
  }

  .wp-block-heading {
    text-transform: uppercase;
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
    padding: 10px 10px 0 10px;
  }

  h2 {
    padding: 10px 10px 0 10px;
  }

  .wp-element-caption {
    padding: 0 10px;
  }
}

.wp-block-group.is-style-light {
  background-color: var(--wp--preset--color--grey-lighter);
  color: var(--wp--preset--color--black);
}

.wp-block-group.is-style-dark {
  background-color: var(--wp--preset--color--grey-dark);
  color: var(--wp--preset--color--white);

  .wp-block-heading,
  .wp-element-caption {
    color: var(--wp--preset--color--white);
  }
}

.wp-block-group.call-to-action {
  margin-top: 40px;
  padding: 20px;
  text-align: center;

  @media all and (min-width: 760px) {
    padding: 36px 32px;
  }
}

.wp-block-group.is-style-top-and-bottom-border {
  border-top: 7px solid var(--wp--preset--color--black);
  border-bottom: 7px solid var(--wp--preset--color--black);
}

.wp-block-group.custom-card .wp-block-image,
.wp-block-group.custom-card .wp-block-buttons,
.wp-block-group.custom-card p,
.wp-block-group.custom-card h2 {
  box-sizing: border-box;
  max-width: 100%;
}

.wp-block-group.custom-card img {
  width: 100%;
}

.wp-block-group.custom-card .wp-block-button {
  min-width: 100%;
}

.wp-block-group.custom-card .wp-block-image > div {
  width: 100%;
}

.wp-block-group.is-style-square-border {
  border: 1px solid #000;
  padding: var(--wp--preset--spacing--single);
  height: 100%;
}
