.wp-block-quote,
.wp-block-quote.is-style-default {
  border-left: none;
}

.wp-block-quote:has(.has-text-align-center)::before {
  content: open-quote;
}
.wp-block-quote:has(.has-text-align-center)::before {
  position: absolute;
  left: 48%;
  font-family: var(--wp--preset--font-family--secondary) !important;
  font-weight: bold;
  font-size: 3.75rem !important;
  line-height: 1px;

  @media all and (min-width: 540px) {
    font-size: 4.375rem !important;
  }

  @media all and (min-width: 940px) {
    font-size: 5rem !important;
  }
}

.wp-block-quote p,
.wp-block-quote cite {
  font-family: var(--wp--preset--font-family--secondary);
  margin-bottom: 0;
}

.wp-block-quote p {
  font-size: var(--wp--preset--font-size--large) !important;
}

.wp-block-quote .has-small-font-size {
  font-size: var(--wp--preset--font-size--small) !important;
}

.wp-block-quote .has-medium-font-size {
  font-size: var(--wp--preset--font-size--medium) !important;
}

.wp-block-quote .has-large-font-size {
  font-size: var(--wp--preset--font-size--large) !important;
}

.wp-block-quote cite {
  text-transform: none !important;
  display: inline-block;
  font-style: normal;
  font-size: 1.125rem !important;
  font-weight: bold !important;
  line-height: 40px !important;
  padding-bottom: 24px;

  @media all and (min-width: 540px) {
    font-size: 1.25rem !important;
  }

  @media all and (min-width: 940px) {
    font-size: 1.5rem !important;
  }
}

.wp-block-quote.has-large-font-size cite {
  @media all and (min-width: 540px) {
    font-size: 1.25rem !important;
  }

  @media all and (min-width: 940px) {
    font-size: 1.5rem !important;
  }
}

.wp-block-quote.has-medium-font-size cite {
  font-size: 1rem !important;

  @media all and (min-width: 540px) {
    font-size: 1.25rem !important;
  }

  @media all and (min-width: 940px) {
    font-size: 1.375rem !important;
  }
}

.wp-block-quote.has-small-font-size cite {
  font-size: 0.875rem !important;

  @media all and (min-width: 540px) {
    font-size: 1.125rem !important;
  }

  @media all and (min-width: 940px) {
    font-size: 1.25rem !important;
  }
}

.wp-block-quote cite::after {
  content: none;
}

.wp-block-quote.is-style-default.alignleft,
.rtl .wp-block-quote.is-style-default.alignright {
  border-left: 8px solid;
  margin-block-start: var(--wp--preset--spacing--single);
  padding-left: 35px;
}

.wp-block-quote.is-style-default.alignright,
.rtl .wp-block-quote.is-style-default.alignleft {
  border-right: 8px solid;
  margin-block-start: var(--wp--preset--spacing--single);
  padding-right: 35px;
}

.wp-block-quote.is-style-default p {
  margin-block-start: 0;
}

.wp-block-quote.is-style-default p + p {
  margin-block-start: var(--wp--preset--spacing--half);
}

.wp-block-quote.is-style-default cite {
  padding-bottom: 0;
}

.wp-block-quote.is-style-default.has-text-align-center {
  position: relative;
  margin-top: 40px;
}

.wp-block-quote.is-style-default.has-text-align-center::before {
  content: open-quote;
  position: absolute;
  top: -30px;
  left: calc(50% - 16px);
  width: 32px;
  font-family: var(--wp--preset--font-family--secondary);
  font-size: 40px;
  font-weight: 700;
  line-height: 55px;
}

.wp-block-quote.has-text-align-left {
  border-left: 8px solid var(--wp--preset--color--black);
  padding-left: 35px;
}

.wp-block-quote.has-text-align-left.has-white-color {
  border-left-color: var(--wp--preset--color--white);
}

.wp-block-quote.has-text-align-left.has-amnesty-grey-brand-color {
  border-left-color: var(--wp--preset--color--grey-light);
}

.wp-block-quote.has-text-align-right {
  border-right: 8px solid var(--wp--preset--color--black);
  padding-right: 35px;
}

.wp-block-quote.has-text-align-right.has-white-color {
  border-right-color: var(--wp--preset--color--white);
}

.wp-block-quote.has-text-align-right.has-amnesty-grey-brand-color {
  border-right-color: var(--wp--preset--color--grey-light);
}

.wp-block-quote.has-text-align-left p::before,
.wp-block-quote.has-text-align-right p::before {
  content: open-quote;
  display: inline-block;
}

.wp-block-quote.has-text-align-left p::before {
  text-indent: -7px;

  @media all and (min-width: 940px) {
    text-indent: -15px;
  }
}

.wp-block-quote.has-text-align-right p::after {
  position: absolute;
}

.wp-block-quote.has-text-align-left p::after,
.wp-block-quote.has-text-align-right p::after {
  content: close-quote;
  display: inline-block;
}

.rtl .wp-block-quote.has-text-align-left {
  text-align: right;
  border-right: 8px solid var(--wp--preset--color--black);
  border-left: none;
  padding-right: 35px;
  padding-left: 0;
}

.rtl .wp-block-quote.has-text-align-right {
  text-align: left;
  border-left: 8px solid var(--wp--preset--color--black);
  border-right: none;
  padding-left: 35px;
  padding-right: 0;
}
