@use '../../utils/mixins/states' as s;

.wp-block-query-pagination-numbers {
  display: none;
  flex-basis: 100%;
  justify-content: center;
  list-style: none;
  color: var(--wp--preset--color--black);

  @media all and (min-width: 760px) {
    display: flex;
    flex-basis: auto;
  }
}

.wp-block-query-pagination-numbers .page-numbers {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 44px;
  min-height: 44px;
}

.wp-block-query-pagination-numbers a.page-numbers {
  @include s.state-background(var(--wp--preset--color--grey--lighter));
  text-decoration: underline;
  text-decoration-skip-ink: auto;
}

.wp-block-query-pagination-numbers li + li {
  margin-left: 10px;

  .rtl & {
    margin-left: 0;
    margin-right: 10px;
  }
}

.wp-block-query-pagination-numbers span.current {
  background-color: var(--wp--preset--color--black);
  color: var(--wp--preset--color--white);
}
