.page-header.is-light {
  background-color: var(--wp--preset--color--white);
  color: var(--wp--preset--color--black);
}

.page-header.stick {
  border-bottom: 1px solid var(--wp--preset--color--grey-lighter);
}

.page-header.is-light .page-headerButton:hover,
.page-header.is-light .page-headerButton:active,
.page-header.is-light .page-headerButton:focus {
  background-color: var(--wp--preset--color--grey-lighter);
  color: var(--wp--preset--color--black);
}

.page-header.is-light .icon-cart {
  @extend %icon-cart-dark;
}

.page-header.is-light .page-nav--main .current-menu-item .icon-cart {
  @extend %icon-cart-light;
}
