.page-header.is-light .burger:hover,
.page-header.is-light .burger:active,
.page-header.is-light .burger:focus {
  background-color: var(--wp--preset--color--grey-lighter);
}

.page-header.is-light .burger .icon-burger {
  @extend %icon-burger-dark;
}

.mobile-menu-open .page-header.is-light .burger {
  background-color: var(--wp--preset--color--black);
}

.mobile-menu-open .page-header.is-light .burger:hover,
.mobile-menu-open .page-header.is-light .burger:active,
.mobile-menu-open .page-header.is-light .burger:focus {
  background-color: var(--wp--preset--color--grey-dark);
}

.mobile-menu-open .page-header.is-light .burger .icon-close {
  @extend %icon-close-light;
}
