.search-filters {
  flex-basis: 100%;
  margin-bottom: var(--wp--preset--spacing--single);

  @media all and (min-width: 940px) {
    flex-basis: 25%;
    margin-right: var(--wp--preset--spacing--single);
    margin-bottom: 0;

    .rtl & {
      margin-right: 0;
      margin-left: var(--wp--preset--spacing--single);
    }
  }
}

.search-filters select {
  width: 100%;
}

.search-filters .btn {
  width: 100%;
}

// i died a little writing this rule
body.search .search-filters .section.filter-wrapper {
  padding: 0;
  margin-bottom: 24px;
}

.search-filters .taxonomyArchive-filters {
  flex-direction: column;
}
