@use "cmb2";
@use "user-profile";
@use "localisation-options";

:root {
  --amnesty-icon-path: url("../images/sprite.svg"), none;
  --wp--preset--layout--contentSize: 1468px;
}

.is-hidden {
  display: none;
}
