.wp-block-details summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block-end: var(--wp--preset--spacing--half);
  padding-block: var(--wp--preset--spacing--half);
  padding-inline: 0;
  border-bottom: 1px solid var(--wp--preset--color--black);
  color: var(--wp--preset--color--grey-darker);
  font-family: var(--wp--preset--font-family--secondary);
  font-size: var(--wp--preset--font-size--heading-3);
  line-height: 1.12;

  &::after {
    @include icon-scaled(271px, 215px, 16px, 16px, 1.5);
    position: relative;
    content: "";
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }
}

.wp-block-details[open] summary::after {
  transform: rotate(180deg);
}

.wp-block-details.is-style-small summary {
  margin-block-end: var(--wp--preset--spacing--quarter);
  padding-block: var(--wp--preset--spacing--quarter);
  border-bottom: none;
  font-family: var(--wp--preset--font-family--primary);
  font-size: var(--wp--preset--font-size--regular);

  &::after {
    @include icon-dimensions();
    @include icon-size(16px, 16px);
    @include icon-position(271px, 215px);
    margin-inline-start: var(--wp--preset--spacing--quarter);
  }
}

.wp-block-details.is-style-small p {
  margin-block-end: var(--wp--preset--spacing--half);
}
