.postlist-categories .current-menu-item a {
  background-color: var(--wp--preset--color--grey-lighter);
  border: 1px solid var(--wp--preset--color--grey-lighter);
}

.postlist-categories a:active, .postlist-categories a:hover, .postlist-categories a:focus {
  background-color: var(--wp--preset--color--grey-light);
}

.postlist-categoriesContainer.section--dark .current-menu-item a {
  border: 1px solid var(--wp--preset--color--grey-light);
  background-color: var(--wp--preset--color--grey-lighter);
}

.postlist-categoriesContainer.section--dark .postlist-categories a:hover,
.postlist-categoriesContainer.section--dark .postlist-categories a:focus,
.postlist-categoriesContainer.section--dark .postlist-categories a:active {
  border: 1px solid var(--wp--preset--color--grey-light);
  background-color: var(--wp--preset--color--grey-light);
}
