.wp-block-navigation {
  min-width: 100%;
}

.no-wrap .wp-block-navigation__container {
  overflow-x: scroll;
  overflow-y: visible;
}

.wp-block-navigation__container {
  display: flex;
  padding: 20px !important;
  background-color: var(--wp--preset--color--white);
  color: var(--wp--preset--color--black);
  width: 100%;


  .wp-block-navigation-item {
    display: flex;
    justify-content: center;
    background-color: var(--wp--preset--color--white);
    border: 1px solid var(--wp--preset--color--amnesty-grey-md-light);
    text-decoration: none !important;

    @include mq(xx-small) {
      @include flexy-grid(2, flexy-gutter());
    }

    @include mq(x-small) {
      @include flexy-grid(3, flexy-gutter());
    }

    @include mq(medium) {
      @include flexy-grid(4, flexy-gutter());
      flex-grow: 1;
    }

    a {
      color: var(--wp--preset--color--black);
      text-decoration: none;
      font-family: var(--wp--preset--font-family--secondary);
      text-transform: uppercase;
      text-align: center;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--wp--preset--color--white);
      padding: 11px 16px;
    }
  }
}

.wp-block-navigation .wp-block-navigation__container .wp-block-navigation-item:not(:last-of-type) {
  margin-right: flexy-gutter() !important;

  .rtl & {
    margin-left: flexy-gutter();
    margin-right: 0 !important;
  }
}

.wp-block-navigation .wp-block-navigation__container .wp-block-navigation-item a:hover {
  background-color: var(--wp--preset--color--amnesty-grey-md-light);
  cursor: pointer;
}

.wp-block-navigation.has-amnesty-grey-light-background-color .wp-block-navigation__container {
  background-color: var(--wp--preset--color--amnesty-grey-light);
}
