.editor-styles-wrapper .section:not(.section--tinted) {
  padding-right: 0;
  padding-left: 0;
}

.section--has-bg-overlay::before {
  z-index: 0 !important;
}

.section--textWhite {
  color: var(--wp--preset--color--white);

  @include headings {
    color: var(--wp--preset--color--white);
  }
}
