.section {
  @include clearfix;
  padding: 25px;
  color: var(--wp--preset--color--black);
}

.section.is-fullWidth--mobile,
.section.is-fullWidth--mobile .container {
  @include mq($until: small) {
    padding: 0;
    width: 100%;
  }
}

.section--tinted {
  background-color: var(--wp--preset--color--grey-lighter);
  width: 100%;
  max-width: 1468px;
  margin: 0 auto;
}

.section--dark {
  background-color: var(--wp--preset--color--grey-lighter);
}

.section--has-bg-image {
  display: flex;
  align-items: center;
  background-size: cover;
  justify-content: center;
  position: relative;
}

.ie .section--has-bg-image .container {
  margin: 0;
}

.section--bgOrigin-center {
  background-position: center;
}

.section--bgOrigin-bottom {
  background-position: bottom;
}

.section--bgOrigin-top {
  background-position: top;
}

.section--bgOrigin-left {
  background-position: left;
}

.section--bgOrigin-right {
  background-position: right;
}

.section--textWhite {
  color: var(--wp--preset--color--white);

  @include headings {
    color: var(--wp--preset--color--white);
  }
}

.section--textWhite .wp-block-button__link {
  color: var(--wp--preset--color--white);
}

.section--topSpacing {
  margin-top: 20px;
}

.section--bottomSpacing {
  margin-bottom: 20px;
}

.section .container > *,
.article-content > * {
  margin-bottom: 0;
}

.section .container > *:not(style) + *,
.article-content > * + * {
  margin-top: 24px;
}

.section--no-padding {
  padding: 0;
}

[data-type="amnesty-core/block-row"],
[data-type="amnesty-core/block-section"] {
  width: 100% !important;
  max-width: none !important;
}

.section--textWhite a {
  color: var(--wp--preset--color--white);
}

.section--has-bg-overlay > * {
  z-index: 2;
}

.section--has-bg-overlay {
  position: relative;
}

.section--has-bg-overlay::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  content: "";
  display: block;
  background: rgba(0, 0, 0, .5);
}
