.page-header.is-transparent-light .burger:hover,
.page-header.is-transparent-light .burger:active,
.page-header.is-transparent-light .burger:focus {
  background-color: var(--wp--preset--color--white);
}

.page-header.is-transparent-light .burger .icon-burger {
  @extend %icon-burger-light;
}

.page-header.is-transparent-light .burger:hover .icon-burger,
.page-header.is-transparent-light .burger:active .icon-burger,
.page-header.is-transparent-light .burger:focus .icon-burger {
  @extend %icon-burger-dark;
}

.mobile-menu-open .page-header.is-transparent-light .burger {
  background-color: var(--wp--preset--color--black);
}

.mobile-menu-open .page-header.is-transparent-light .burger:hover,
.mobile-menu-open .page-header.is-transparent-light .burger:active {
  background-color: var(--wp--preset--color--grey-dark);
}

.mobile-menu-open .page-header.is-transparent-light .burger .icon-close {
  @extend %icon-close-light;
}
