.wp-block-group.custom-card {
  max-width: 350px !important;

  .wp-block-buttons {
    padding-left: 8px;
    padding-right: 8px;
  }

  .wp-block-buttons,
  .wp-block-button,
  .wp-block-button__link {
    width: 100%;
  }

  .wp-block-heading {
    text-transform: uppercase;
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
    padding: 10px 10px 0 10px;
  }

  .wp-element-caption {
    padding: 0 10px;
  }
}

.wp-block-group.custom-card.alignfull {
  max-width: 480px !important;
}

.wp-block-group.is-style-light {
  background-color: var(--wp--preset--color--grey-lighter);
  color: var(--wp--preset--color--black);
}

.wp-block-group.is-style-dark {
  background-color: var(--wp--preset--color--grey-dark);
  color: var(--wp--preset--color--white);

  .wp-block-heading,
  .wp-element-caption {
    color: var(--wp--preset--color--white);
  }
}

.wp-block-group.call-to-action {
  margin-top: 40px;
  padding: 20px;
  text-align: center;

  @include mq(small) {
    padding: 36px 32px;
  }
}

.wp-block-group.is-style-top-and-bottom-border {
  border-top: 7px solid var(--wp--preset--color--black);
  border-bottom: 7px solid var(--wp--preset--color--black);
}
