.page-header.is-light .menu-item:hover > a,
.page-header.is-light .menu-item a:active,
.page-header.is-light .menu-item a:focus,
.page-header.is-light .menu-item:focus-within > a {
  background-color: var(--wp--preset--color--grey-lighter);
  color: var(--wp--preset--color--black);
}

.page-header.is-light .page-nav--main .current-menu-item > a,
.page-header.is-light .page-nav--main .current-menu-ancestor > a,
.page-header.is-light .page-nav--main .current-menu-parent > a {
  background-color: var(--wp--preset--color--black);
  color: var(--wp--preset--color--white);

  &:hover,
  &:active,
  &:focus {
    background-color: var(--wp--preset--color--grey-dark);
    color: var(--wp--preset--color--white);
  }
}

.page-header.is-light .sub-menu {
  background-color: var(--wp--preset--color--grey-lighter);
  color: var(--wp--preset--color--black);
}

.page-header.is-light .sub-menu .menu-item {
  background-color: var(--wp--preset--color--grey-darker);
  color: var(--wp--preset--color--white);
}

.page-header.is-light .sub-menu .menu-item a:hover,
.page-header.is-light .sub-menu .menu-item a:focus {
  background-color: var(--wp--preset--color--grey-dark);
  color: var(--wp--preset--color--white);
}

.page-header.is-light .sub-menu .menu-item a:active {
  background-color: var(--wp--preset--color--black);
  color: var(--wp--preset--color--white);
}

.page-header.is-light .site-separator {
  background-color: var(--wp--preset--color--grey-lighter);
}
