.article-meta {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--wp--preset--spacing--half);
}

.article-metaActions {
  display: flex;
  align-items: center;
  margin-bottom: var(--wp--preset--spacing--half);
}

.article-metaData {
  border-top: 1px solid;
  border-bottom: 1px solid;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  font-size: var(--wp--preset--font-size--regular);
}

.article-meta a:not(.btn) {
  text-decoration: none !important;

  &:hover,
  &:active,
  &:focus {
    text-decoration: underline !important;
  }
}

.article-metaDataRow > *:not(:last-child)::after {
  content: var(--list-separator);
}

.article-metaData .updatedDate {
  text-align: right;
}

.article-metaData .wp-block-details.is-style-small {
  position: relative;
}

.article-metaData .wp-block-details.is-style-small summary {
  margin: 0;
  padding: 0;
}

.article-metaData .wp-block-details.is-style-small .wp-block-group {
  position: absolute;
  inset-inline-end: 0;
  padding-block: var(--wp--preset--spacing--half);
  padding-inline: var(--wp--preset--spacing--half);
  max-height: 170px;
  overflow-y: scroll;
  background-color: var(--wp--preset--color--white);
  text-align: end;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);

  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  }
}

.article-metaData .wp-block-details.is-style-small p {
  white-space: nowrap;
}
