.article-share {
  display: flex;
  gap: .5rem;
  margin: 0;
  margin-inline-start: var(--wp--preset--spacing--half);
  padding: 0;
  list-style: none;
}

.article-share a {
  @include state-background(var(--wp--preset--color--grey-darker));
  display: block;
  padding: 8px;
  width: 43px;
  height: 43px;
  text-align: center;
  background-color: var(--wp--preset--color--black);
}

.article-share img {
  max-height: 100%;
}

.rtl ul.article-share {
  margin: 0;
}
