.wp-block-bigbite-postlist .post {
  min-height: auto !important;
  align-items: center;

  &:hover {
    background-color: color-mix(in srgb, var(--wp--preset--color--black) 5%, transparent);;
  }
}

.wp-block-bigbite-postlist label,
.wp-block-bigbite-postlist input,
.wp-block-bigbite-postlist select {
  text-transform: none;
}
