on:
  workflow_call:
    inputs:
      stage:
        required: true
        type: string

jobs:
  lang:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: humanity-theme
      - run: sudo rm /etc/php/8.3/cli/conf.d/20-xdebug.ini
      - uses: actions/cache@v4
        id: composer-lang-cache
        with:
          path: ./vendor
          key: ${{ inputs.stage }}-lang-${{ hashFiles('./composer.lock') }}
      - name: Install Composer Dependencies
        if: steps.composer-lang-cache.outputs.cache-hit != 'true'
        run: composer install; composer require --dev wp-cli/wp-cli-bundle
      - run: ./vendor/bin/wp i18n make-pot wp-content/themes/humanity-theme wp-content/themes/humanity-theme/languages/amnesty.pot --domain=amnesty --exclude=private
      - run: ./vendor/bin/wp i18n update-po wp-content/themes/humanity-theme/languages/amnesty.pot
      - run: ./vendor/bin/wp i18n make-mo wp-content/themes/humanity-theme/languages
      - run: ./vendor/bin/wp i18n make-json wp-content/themes/humanity-theme/languages --no-purge
      - run: ./vendor/bin/wp i18n make-php wp-content/themes/humanity-theme/languages
      - uses: actions/upload-artifact@v4
        with:
          name: humanity-theme
          overwrite: true
          path: |
            .
            !./private/node_modules
            !./vendor
