.element-select {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  margin-right: 10px;
  width: 300px;
  height: 56px;
  background-color: var(--wp--preset--color--white);

  select {
    padding: 10px;
    width: 100% !important;
    height: 100% !important;
    border-radius: 0 !important;
    border: 2px solid;
  }
}

.section--textWhite .element-select::after {
  background-position: -271px -131px;
}

.section--textWhite .element-select select {
  color: var(--wp--preset--color--white);
  border-color: var(--wp--preset--color--white);
}

.wp-block-amnesty-core-block-download {
  padding: 2px;
  border: 1px dashed;
}

.wp-block-amnesty-core-block-download > div:first-of-type {
  max-height: none !important;
}

.wp-core-ui .wp-block-amnesty-core-block-download select {
  background: none;
}

.wp-block[data-type="amnesty-core/block-download"] .block-editor-media-placeholder.is-appender {
  outline: none;
}

.wp-block-amnesty-core-block-download.aligncenter {
  display: flex;
  justify-content: center;
}

.wp-block-amnesty-core-block-download.alignleft {
  display: flex;
  justify-content: flex-start;
}

.wp-block-amnesty-core-block-download.alignright {
  display: flex;
  justify-content: flex-end;
}

.wp-block-amnesty-core-block-download.has-multiple {
  align-items: stretch;
}

.wp-block-amnesty-core-block-download.has-multiple select {
  appearance: revert;
  margin-right: 12px;

  .rtl & {
    margin-right: 0;
    margin-left: 12px;
  }
}
